<div class="container">
  <h3 class="text-center mt-5 mb-4">Mon réseau d'agents</h3>
  <div class="profile-friends">
    <% if policy(@profiles).my_friends? %>
      <div class="search navigations">
        <h3 id="request-get" class="active" style="font-size: 16px">Reçues</h3>
        <h3 id="all-friends" style="font-size: 16px">Acceptées</h3>
        <h3 id="request-sent" style="font-size: 16px">Envoyées</h3>
      </div>
      <div id="friends-toPlace" class="row">
        <% if current_user.requested_friends != [] %>
          <% current_user.requested_friends.each do |friend| %>
            <div class="offset-sm-2 col-sm-8 offset-lg-0 col-lg-6">
              <div class="card mb-3 border-0" style="border-radius: 15px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);">
                <div class="row no-gutters", style="border-radius: 30px">
                  <div class="col-md-4">
                    <p class="mb-0"><%= image_tag (cl_image_path friend.photo), crop: :fill, style:"object-fit:cover; height: 170px; width: 170px", class: "rounded-circle center p-3" %></p>
                  </div>
                  <div class="col-md-8 d-flex flex-column justify-content-between">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title"><%= friend.prénom.titlecase %> <%= friend.nom[0].titlecase+"." %></h5>
                        <p class="card-text"><%= friend.ville %></p>
                      </div>
                    </div class="">
                    <div class="m-3">
                      <%= link_to "Accept", accept_friend_path(friend), method: :post, class: "btn btn-success" %>
                      <%= link_to "Decline", decline_friend_path(friend), method: :post, class: "btn btn-danger" %>
                      <%= link_to "Voir Profil", profile_path(friend), class: "btn btn-link" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="text-center" style="width: 100%;">"Aucune demande connexion reçue"</h4>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
  const addClassSelected = (target) => {
    // take parent class -> get children -> remove classes for all children
    // console.log(target)
    const children = target.parentElement.children;
    const childAmount = target.parentElement.childElementCount;
    for (let i=0; i<childAmount; i++) {
      children[i].classList.remove("active");
    }
    // add class
    target.classList.add("active");
  };
  
  this.addEventListener("click", (e) => {
    console.log(e)
    const whereToShow = document.querySelector("#friends-toPlace");
    const id = e.target.id;
    if (id === "request-get") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
      <% if current_user.requested_friends != [] %>
      <% current_user.requested_friends.each do |friend| %>
        <div class="offset-sm-2 col-sm-8 offset-lg-0 col-lg-6">
          <div class="card mb-3 border-0" style="border-radius: 15px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);">
            <div class="row no-gutters", style="border-radius: 30px">
              <div class="col-md-4">
                <p class="mb-0"><%= image_tag (cl_image_path friend.photo), crop: :fill, style:"object-fit:cover; height: 170px; width: 170px", class: "rounded-circle center p-3" %></p>
              </div>
              <div class="col-md-8 d-flex flex-column justify-content-between">
                <div class="card-body">
                  <div>
                    <h5 class="card-title"><%= friend.prénom.titlecase %> <%= friend.nom[0].titlecase+"." %></h5>
                    <p class="card-text"><%= friend.ville %></p>
                  </div>
                </div class="">
                <div class="m-3">
                      <%= link_to "Accept", accept_friend_path(friend), method: :post, class: "btn btn-success" %>
                      <%= link_to "Decline", decline_friend_path(friend), method: :post, class: "btn btn-danger" %>
                  <%= link_to "Voir Profil", profile_path(friend), class: "btn btn-link" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4 class="text-center" style="width: 100%;">"Aucune demande de connexion reçue"</h4>
    <% end %>
      `);
    }
    else if (id === "all-friends") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% if @profiles != [] %>
          <% @profiles.each do |friend| %>
          <div class="offset-sm-2 col-sm-8 offset-lg-0 col-lg-6">
              <div class="card mb-3 border-0" style="border-radius: 15px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);">
                <div class="row no-gutters", style="border-radius: 30px">
                  <div class="col-md-4">
                    <p class="mb-0"><%= image_tag (cl_image_path friend.photo), crop: :fill, style:"object-fit:cover; height: 170px; width: 170px", class: "rounded-circle center p-3" %></p>
                  </div>
                  <div class="col-md-8 d-flex flex-column justify-content-between">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title"><%= friend.prénom.titlecase %> <%= friend.nom[0].titlecase+"." %></h5>
                        <p class="card-text"><%= friend.ville %></p>
                      </div>
                    </div class="">
                    <div class="m-3">
                      <%= link_to "Voir Profil", profile_path(friend), class: "btn btn-link pl-0" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="text-center" style="width: 100%;">"Aucune connection actuellement"</h4>
        <% end %>
      `);
    }
    else if (id === "request-sent") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% if current_user.pending_friends != [] %>
          <% current_user.pending_friends.each do |friend| %>
            <div class="offset-sm-2 col-sm-8 offset-lg-0 col-lg-6">
              <div class="card mb-3 border-0" style="border-radius: 15px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);">
                <div class="row no-gutters", style="border-radius: 30px">
                  <div class="col-md-4">
                    <p class="mb-0"><%= image_tag (cl_image_path friend.photo), crop: :fill, style:"object-fit:cover; height: 170px; width: 170px", class: "rounded-circle center p-3" %></p>
                  </div>
                  <div class="col-md-8 d-flex flex-column justify-content-between">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title"><%= friend.prénom.titlecase %> <%= friend.nom[0].titlecase+"." %></h5>
                        <p class="card-text"><%= friend.ville %></p>
                      </div>
                    </div class="">
                    <div class="m-3">
                          <%= link_to "En cours", accept_friend_path(friend), method: :post, class: "btn btn-secondary disabled" %>
                      <%= link_to "Voir Profil", profile_path(friend), class: "btn btn-link" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="text-center" style="width: 100%;">"Aucune connexion envoyée"</h4>
        <% end %>
      `);
    };
  });
</script>