<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4">
    </div>
    <div class="d-flex col-12 col-md-8 align-items-center">
      <h3 class="" >Profil de <%= @profile.prénom.capitalize %> <%= @profile.nom[0].titlecase+"." %></h3>
      <% if user_signed_in? %>
        <% if @profile.id == current_user.id %>
          <%= link_to "", edit_user_registration_path(current_user), class: "ml-3 fas fa-edit"%>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- 1 - PROFILE IMG -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 p-0">
      <div class="d-flex justify-content-center p-0 mb-0", style="border-radius: 5px">
        <div class="rounded p-5">
          <div class="text-center mb-3">
            <%= image_tag (cl_image_path @profile.photo), crop: :fill, style:"object-fit:cover; height: 30vh; width: 30vh", class: "rounded-circle center" %>
          </div>
          <p class="font-weight-bold text-center mt-2 mb-1"><%= @profile.prénom.capitalize %> <%= @profile.nom[0].titlecase+"." %></p>
          <% if @profile.agent != nil %>
            <p class="text-center mt-0 mb-3" style="font-size: 14px" >Statut Agent
              <% if @profile.agent.statut == "Approuvé" %>
                <i class="fas fa-check-circle ml-1" style="color: green"></i>
              <% elsif @profile.agent.statut == "Rejeté" %>
                : Rejeté
              <% else %>
                : En cours de validation
              <% end %>
            </p>
            <% if user_signed_in? %>
              <% if @profile.id == current_user.id %>
                <p class="text-center mt-0 mb-3" style="font-size: 14px" ><%= link_to "modifier mon profil agent (statut auto-entrepreneur)", edit_agent_path(@profile.agent.id), class: "fas fa-edit" %>
                  <%#= link_to "", agent_path(@profile.agent.id), method: :delete, class: "fas fa-trash" %>
                </p>
              <% end %>
            <% end %>
          <% else %>
            <% if user_signed_in? %>
              <% if @profile.id == current_user.id %>
                <p class="text-center mt-0 mb-3" style="font-size: 14px" ><%= link_to "Devenir agent Realbeez", new_agent_path  %></p>
              <% end %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <% if @profile != current_user %>
              <div class="d-flex justify-content-around">
                <%= link_to "Contacter", new_conversation_path(message: {to: @profile.id }), class: "btn btn-transparent mb-1 text-center" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 2 - OTHER INFO -->
    <div class="col-sm-12 col-md-12 col-lg-8 pb-5" style="border-radius: 10px">
      <div class="pb-2 border-bottom border-info">
      </div>
      <p class="text-center my-5" style="font-weight: bold; font-size: 24px;">Informations</p>
      <!-- if current user is an agent add experience description-->
      <% unless @profile.agent.nil? %>
        <% if @profile.agent.experience.nil? || @profile.agent.experience == "" %>
          <!-- if current user is profile user and there is no description, add a link to add it -->
          <% if @profile == current_user %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-info-circle mr-3" style="color: #D8A727"></i><%= link_to "Aucune description" , edit_agent_path(current_user.agent.id) %></p>
          <% else %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-info-circle mr-3" style="color: #D8A727"></i>Aucune description</p>
          <% end %>
        <% else %>
          <div class="d-flex" style="font-size: 14px">
            <p class=" mt-0 mb-3"  ><i class="fas fa-info-circle mr-3" style="color: #D8A727"></i></p>
            <p><%= simple_format(@profile.agent.experience) %></p>
          </div>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% if @profile == current_user %>
          <% if @profile.téléphone == nil || @profile.téléphone == "" %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-phone-square mr-3" style="color: #D8A727"></i><%= link_to "Aucun numéro de téléphone", edit_user_registration_path(current_user)%>
            </p>
          <% else %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-phone-square mr-3" style="color: #D8A727"></i><%= @profile.téléphone %></p>
          <% end %>
          <% if @profile.adresse == nil || @profile.adresse == "" %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-map-marker-alt mr-3" style="color: #D8A727"></i><%= link_to "Aucune adresse", edit_user_registration_path(current_user)%></p>
          <% else %>
            <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-map-marker-alt mr-3" style="color: #D8A727"></i><%= @profile.adresse %></p>
          <% end %>
        <% end %>
      <% end %>
      <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-city mr-3" style="color: #D8A727"></i><%= @profile.ville.capitalize %></p>
      <p class=" mt-0 mb-3" style="font-size: 14px" ><i class="fas fa-envelope mr-3" style="color: #D8A727"></i><%= @profile.email %></p>
      <!-- ==================STAR RATINGS================= -->
      <% unless @profile.agent == nil || @profile.agent == [] %>
        <% unless @profile.agent.reviews == []%>
          <div style="font-size: 14px">
            <% @full_stars.times do  %>
              <i class="fas fa-star" style="color:#D8A727"></i>
            <% end %>
            <% @half_full_stars.times do  %>
              <i class="fas fa-star-half-alt" style="color:#D8A727"></i>
            <% end %>
            <% @empty_stars.times do  %>
              <i class="far fa-star" style="color:#D8A727"></i>
            <% end %>
            <%= @average_ratings.round(1) %>
            (<%= @nb_ratings.to_i %> avis)
          </div>
          <p class="mt-3"><%= render "shared/ratings" %></p>
        <% else %>
          <div style="font-size: 14px">
            <% 5.times do  %>
              <i class="far fa-star mt-2" style="color:#D8A727"></i>
            <% end %>
            (0 avis)
          </div>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% unless @profile == current_user || @profile.agent == nil || @profile.agent == [] %>
          <p class=" mt-0 my-3" style="font-size: 14px" ><%= link_to "Noter votre agent", new_agent_review_path(@profile.agent) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% unless @profile.agent.nil?%>
  <% if @profile.agent.statut == "Approuvé" %>
    <div style="background-color: #FFFFFF; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
      <% if user_signed_in? && params[:id].to_i != current_user.id%>
        <div class="py-2" style="">
          <!-- Demander les services d'un concierge -->
          <div class="container border-bottom" style="text-align: center">
            <p class="text-center my-5" style="font-weight: bold; font-size: 24px;">Demander les services de <%= @profile.prénom.capitalize %> pour louer votre bien !</p>
            <% if @annonces == [] %>
              <div>
                <p class="mb-5" style="width: 100%; color:#DA334A; font-style: italic">"Vous n'avez aucun bien à louer actuellement"</p>
                <p style="font-weight: bold; color: #D8A727">Publier votre annonce et confier la location à <%= @profile.prénom.capitalize %></p>
                <%= link_to "Publier une annonce", new_annonce_path, class: "btn btn-yellow-mustard mb-5 "  %>
              </div>
            <% else %>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-md-offset-3">
                  <%= simple_form_for @candidature do |f| %>
                    <%= f.input :annonce_id, label: "Choisir votre bien à louer", include_blank: false, collection: @annonces,label_method: :titre_annonce, value_method: :id, label_html: { style: "font-weight: bold; color: #D8A727"} %>
                    <%= f.hidden_field :user_id, value: @profile.id %>
                    <%= f.submit "Valider", data: { confirm: 'Etes-vous sûr de vouloir demander les services de cet agent? Vous allez être redirigé vers le mandat de location.' }, class: "btn btn-yellow-mustard mt-4 ", id:"" %>
                  <% end %>
                  <p class="mb-5 mt-2" style="font-style: italic"><%= link_to "Votre annonce n'est pas encore publiée?", new_annonce_path("", {from: 'profile_page'}) %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <!-- Tableau de bord -->
      <% if user_signed_in? %>
        <div class="container justify-content-center">
          <p class="pt-4 text-center pb-2" style="font-weight: bold; width: auto; font-size: 24px">Tableau de bord</p>
        </div>
        <!-- Disponibilité -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-11 offset-lg-1">
              <%= render "shared/disponibilités" %>
              <!-- retour vers page précédente -->
              <!-- <div class="container pb-3 px-0"><%#= link_to 'Retour', 'javascript:history.go(-1);' %></div> -->
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>