<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <h3 class="text-center mt-5 mb-5">Modifier votre visite</h3>
        <%= simple_form_for(@meeting) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <p class="mt-5" style="color: #D8A727; font-weight: bold">Information concernant le rendez-vous</p>
            <p style=""><strong>Annonce</strong> : <%= @meeting.annonce.titre_annonce %></p>
            <%= f.input :start_time, as: :string, input_html: { class: "datetimepicker"}, label: "Date et heure" %>
            <p class="mt-4" style="color: #D8A727; font-weight: bold">Information concernant le visiteur</p>
            <%= f.input :nom_prospect, label: false, placeholder: "Prénom" %>
            <%= f.input :prenom_prospect, label: false, placeholder: "Nom" %>
            <%= f.input :telephone, label: false, placeholder: "Téléphone" %>
            <%= f.input :email, label: false, placeholder: "Téléphone" %>
            <p class="mt-4" style="color: #D8A727; font-weight: bold">Ajouter un commentaire</p>
            <%= f.input :name, label: false %>
          </div>
          <div class="form-actions mt-4">
            <%#= f.button :submit %>
            <%= f.submit "Valider", class: "btn btn-yellow-mustard mb-3"%>
          </div>
        <% end %>
        <%= link_to 'Annuler', root_path %>
      </div>
    </div>
  </div>
</div>