<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_1 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_1 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_1) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_1, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_1, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_1) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_2 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_2 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_2) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_2, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_2, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_2) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_3 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_3 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_3) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_3, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_3, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_3) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_4 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_4 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_4) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_4, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_4, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_4) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_5 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_5 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_5) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_5, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_5, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_5) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_6 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_6 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_6) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_6, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_6, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>
<%= simple_format(@blog.texte_6) %>
<!-- ==========next Paragraphe ===========-->
<% if @blog.titre_7 != "" %>
  <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727"><%= @blog.titre_7 %>
  </h5>
<% end %>
<%= simple_format(@blog.intro_7) %>
<% if @blog.photo_url != "http://res.cloudinary.com/dvfwroq5k/image/upload/v1582613499/default_annonce.png" %>
  <div class="hide-on-small my-4">
    <%= cl_image_tag @blog.photo_7, class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
  <div class="hide-on-large my-4">
    <%= cl_image_tag @blog.photo_7, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
  </div>
<% end %>