<h3 class="text-center mt-5 mb-4">Modifier votre compte</h3>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-inputs">
        <%= f.input :civilité, collection: ["Madame", "Monsieur"] %>
        <%= f.input :nom%>
        <%= f.input :prénom%>
        <%= f.input :adresse%>
        <%= f.input :ville, required: true %>
        <%= f.input :téléphone%>
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                    hint: "Laissez le champ vide si vous ne voulez pas le changer",
                    required: false,
                    input_html: { autocomplete: "new-password" }, label: "Changer votre mot de passe" %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" }, label: "Confirmer votre nouveau mot de passe" %>
        <%= f.input :current_password,
                    hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                    required: true,
                    input_html: { autocomplete: "current-password" }, label: "Votre mot de passe actuel" %>
        <p class="mt-4" style="color: #D8A727">Téléchargez votre photo <span style="color: #646464; font-size: 12px; font-style: italic">(Formats acceptés : jpg ou png)</span></p>
        <%= f.input :photo, label: false %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Modifier", class: "btn btn-yellow-mustard mb-5" %>
      </div>
      <div class="mb-3">
        <h3>Supprimer mon compte</h3>
        <p>Insatisfait? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete %></p>
        <%= link_to "Retour", :back %>
      </div>
    </div>
  </div>
<% end %>