<div class="container" >
  <div class="row justify-content-center" >
    <div class="col-12 col-md-8 px-3" style="background-color: white; box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 0px">
      <div class="d-flex align-items-center my-5">
        <%= link_to "",conversations_path, class:"fas fa-arrow-left mr-3", style:"font-size:24px" %>
        <h4 class="text-center m-0">à
          <% @conversation.participants.each do |participant|%>
            <% if participant != current_user %>
              <%= participant.prénom %>
            <% end %>
          <% end %>
        </h4>
      </div>
      <p class="" style="font-weight:bold; color: #D8A727">Objet : <%= @conversation.subject %></p>
      <div class="text-center mb-4">
        <!-- ===================================== -->
        <!--   <%#= form_tag conversation_messages_path(@conversation), method: :post do %>
          <div>
            <%#= text_area_tag :body %>
          </div>
          <%= submit_tag %>
        <%# end %> -->
        <!-- ======================================= -->
        <%= form_for "", url: conversation_messages_path(@conversation), :html => {:id => "new_forum"} do |f| %>
          <div class="form-group">
            <%= f.text_area :body, required: true, placeholder: "Votre message", rows: 4, class: "form-control" %>
          </div>
          <%= f.submit "Envoyé", class: 'btn btn-yellow-mustard pull-right' %>
        <% end %>
        <!-- ============================================ -->
      </div>
      <div class="mb-5" style=''>
        <div id='forumstart'></div>
        <% if @conversation.receipts_for(current_user) != [] %>
          <% @conversation.receipts_for(current_user).order(created_at: :desc).each do |comment| %>
            <% if comment.message.sender_id == current_user.id %>
              <div class='d-flex justify-content-end'>
                <div class="border border-light my-3 p-2" style="background-color: rgba(2, 90, 193, 0.8); color:white; border-radius: 30px 30px 2px 30px; width:80%">
                  <div class="m-0 text-center" style="font-weight:; font-size: 12px">
                    <!--        <%# if comment.message.sender.statut == "Agent"   %>
                      <%#= link_to comment.message.sender.prénom.capitalize, profile_path(comment.message.sender) %>
                    <%# else %>
                      <%= comment.message.sender.prénom.capitalize%>
                    <%# end %>
                    -  -->
                    <%= comment.created_at.strftime("%e/%m") %> - <%= comment.created_at.strftime("%H:%M") %></div>
                  <div class="text-left px-4">
                    <p  style=""><%= simple_format(comment.message.body) %></p>
                  </div>
                </div>
              </div>
            <% else %>
              <div class='d-flex justify-content-start'>
                <div class="border my-3 p-2" style="background-color: #F8F9FA; border-radius: 30px 30px 30px 2px;width:80%">
                  <div class="m-0 text-center" style="font-weight:; font-size: 12px">
                    <!--      <%# if comment.message.sender.statut == "Agent"   %>
                      <%= link_to comment.message.sender.prénom.capitalize, profile_path(comment.message.sender) %>
                    <%# else %>
                      <%= comment.message.sender.prénom.capitalize%>
                    <%# end %>
                    -  -->
                    <%= comment.created_at.strftime("%e/%m") %> - <%= comment.created_at.strftime("%H:%M") %></div>
                  <div class="text-left px-4">
                    <p  style=""><%= simple_format(comment.message.body) %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="m-3 comments">
            <h5 class="m-0">"There is no comments"</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>