<div class="container">
  <h3 class="text-center mt-5 mb-4">AGENT REALBEEZ</h3>

    <h4>Candidatures reçues (en attente de traitement)</h4>

    <% @candidatures.each do |candidature| %>
      <% if candidature.statut == "request" %>
        <p><%= candidature.annonce.titre_annonce %></p>
        <p>de <%= candidature.annonce.user.prénom %> <%= candidature.annonce.user.nom %></p>
        <p>à <%= candidature.user.prénom %> <%= candidature.user.nom %></p>
        <p><%= candidature.statut %></p>
        <p><%= link_to "Accepter" , accept_candidature_path(candidature), method: :post, data: { confirm: 'Etes-vous sûr de vouloir accepter? Le montant à payer en cas de location sera 350 euros' }, class: "" %></p>
        <p><%= link_to "Rejeter" , reject_candidature_path(candidature), method: :post, data: { confirm: 'Etes-vous sûr de vouloir rejeter la candidature?' }, class: "" %></p>
        <p>-------------------------------------</p>
      <% end %>
    <% end %>

    <h4>Candidatures envoyées (en attente de traitement)</h4>

    <% @candidatures.each do |candidature| %>
      <% if candidature.statut == "pending" %>
        <p><%= candidature.annonce.titre_annonce %></p>
        <p>de <%= candidature.user.prénom %> <%= candidature.user.nom %></p>
        <p>à <%= candidature.annonce.user.prénom %> <%= candidature.annonce.user.nom %></p>
        <p><%= candidature.statut %></p>
        <p>-------------------------------------</p>
      <% end %>
    <% end %>

    <h4>Candidatures acceptées</h4>

    <% @candidatures.each do |candidature| %>
      <% if candidature.statut == "accepté" %>
        <p><%= candidature.annonce.titre_annonce %></p>
        <p>de <%= candidature.user.prénom %> <%= candidature.user.nom %></p>
        <p>à <%= candidature.annonce.user.prénom %> <%= candidature.annonce.user.nom %></p>
        <p><%= candidature.statut %></p>
        <p>-------------------------------------</p>
      <% end %>
    <% end %>

     <h4>Candidatures rejetées</h4>

    <% @candidatures.each do |candidature| %>
      <% if candidature.statut == "accepté" %>
        <p><%= candidature.annonce.titre_annonce %></p>
        <p>de <%= candidature.user.prénom %> <%= candidature.user.nom %></p>
        <p>à <%= candidature.annonce.user.prénom %> <%= candidature.annonce.user.nom %></p>
        <p><%= candidature.statut %></p>
        <p>-------------------------------------</p>
      <% end %>
    <% end %>

</div>
