<div class="container" style="font-size: 12px">
  <h3 class="text-center mt-5 mb-5">Mes notifications</h3>
  <% if @notifications != [] %>
    <div>
      <table class="table table-hover" style="background-color: white">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <!-- <th scope="col">Heure</th> -->
            <th scope="col">Messages</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @notifications.each do |notification| %>
            <% if notification.notifiable != nil %>
              <tr>
                <td><%= notification.created_at.strftime("%e %b %y") %> - <%= notification.created_at.strftime("%H:%M")%></td>
                <% if notification.action == "candidature_create_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " demande vos services pour louer son bien situé à " + notification.notifiable.annonce.ville.capitalize + ".", show_agent_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "candidature_create_agent"  %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " propose ses services pour louer votre bien situé à " + notification.notifiable.annonce.ville.capitalize + ".", show_proprio_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "candidature_accept_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " accepte vos services et vous confie la location de son bien situé à " + notification.notifiable.annonce.ville.capitalize + ".", annonce_path(notification.notifiable.annonce), class:"" %></td>
                <% elsif notification.action == "candidature_accept_agent"  %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' accepte votre demande et prend en charge la location de votre bien situé à ' + notification.notifiable.annonce.ville.capitalize + ".", annonce_path(notification.notifiable.annonce), class:"" %></td>
                <% elsif notification.action == "candidature_reject_proprio"  %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète vos services pour la location du bien situé à ' + notification.notifiable.annonce.ville.capitalize + ".", candidature_agent_path, class:"" %></td>
                <% elsif notification.action == "candidature_reject_agent"  %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète votre demande de prise en charge de la location du bien situé à ' + notification.notifiable.annonce.ville.capitalize + ".", candidature_proprio_path, class:"" %></td>
                <% elsif notification.action == "visit_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a prévu une visite de votre bien situé à ' + notification.notifiable.annonce.ville.capitalize + "." , meetings_path(visites: {from: 'proprio'}), class:"" %></td>
                <% elsif notification.action == "rating_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a publié un avis.', profile_path(current_user), class:"" %></td>
                  <!--  <#% elsif notification.action == "candidature_become_agent_RB" %>
                  <td><#%= link_to User.find(notification.actor_id).prénom.capitalize + ' postule pour devenir agent Realbeez.', agents_path, class:"" %></td> -->
                <% elsif notification.action == "candidature_accept_agent_RB" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' accèpte votre candidature, vous pouvez désormais proposer vos services aux propriétaires.', profile_path(notification.notifiable.user), class:"" %></td>
                <% elsif notification.action == "candidature_decline_agent_RB" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a rejeté votre candidature.', profile_path(notification.notifiable.user), class:"" %></td>
                <% elsif notification.action == "candidature_update_agent_RB" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a modifié son profil agent Realbeez.', agents_path, class:"" %></td>
                <% elsif notification.action == "checkout_agent_notify_admin" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a loué le bien ' + notification.notifiable.titre_annonce, annonce_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "checkout_agent_notify_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a loué votre bien ' + notification.notifiable.titre_annonce, annonce_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "checkout_proprio_notify_admin" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' confirme que son bien ' + notification.notifiable.titre_annonce + " a été loué", annonce_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "checkout_proprio_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' confirme que son bien ' + notification.notifiable.titre_annonce + " a été loué par vos soins", annonce_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "create_locataire_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a déposé un dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "create_locataire_notify_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a déposé un dossier de location pour votre bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "accept_locataire_notify_locataire" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' accepte votre dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "accept_locataire_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' accepte le dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "reject_locataire_notify_locataire" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète votre dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "reject_locataire_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète le dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "update_locataire_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a mis à jour son dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "update_locataire_notify_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a mis à jour un dossier de location pour votre bien ' + notification.notifiable.annonce.titre_annonce, locataire_candidature_path(notification.notifiable), class:"" %></td>
                <% elsif notification.action == "destroy_locataire_notify_agent" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a supprimé son dossier de location pour le bien ' + notification.notifiable.annonce.titre_annonce, locataires_agent_path, class:"" %></td>
                <% elsif notification.action == "destroy_locataire_notify_proprio" %>
                  <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a supprimé son dossier de location pour votre bien ' + notification.notifiable.annonce.titre_annonce, locataires_proprio_path, class:"" %></td>
                  <!--   <#% elsif notification.action == "new_registration" %>
                  <td><#%= link_to User.find(notification.actor_id).prénom.capitalize + " vient de s'inscrire sur RB", profile_all_users_path, class:"" %></td> -->
                <% elsif notification.action == "create_bail_notify_agent" %>
                  <td><%= link_to 'Dossier de location créé par ' +
                  User.find(notification.actor_id).prénom.capitalize, contrat_path(notification.notifiable_id), class:"" %></td>
                <% elsif notification.action == "create_bail_notify_locataire" %>
                  <td><%= link_to 'Dossier de location créé par ' +
                  User.find(notification.actor_id).prénom.capitalize, contrat_path(notification.notifiable_id), class:"" %></td>
                <% elsif notification.action == "create_bail_notify_proprio" %>
                  <td><%= link_to 'Dossier de location créé par ' +
                  User.find(notification.actor_id).prénom.capitalize, contrat_path(notification.notifiable_id), class:"" %></td>
                <% elsif notification.action == "create_mandat_notify_proprio" %>
                  <td><%= link_to 'Mandat de location créé par ' +
                  User.find(notification.actor_id).prénom.capitalize, annonce_path(notification.notifiable.annonce), class:"" %></td>
                <% elsif notification.action == "create_annonce_notify_proprio" %>
                  <td><%= link_to 'Votre annonce a été publié par ' +
                  User.find(notification.actor_id).prénom.capitalize, annonce_path(notification.notifiable), class:"" %></td>
                <% end %>
                <td><%= link_to '', notification, method: :delete, class:"fas fa-trash"  %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  <% else %>
    <h4 class="text-center my-5" style="width: 100%; color:#DA334A; font-style: italic">"Aucune notification actuellement"</h4>
  <% end %>
  <p class="mb-5"><%= link_to "Retour", root_path, style:"font-size: 16px" %></p>
</div>