<div class="container" style="font-size: 12px">
  <h3 class="text-center mt-5 mb-5">Mes notifications</h3>
  <% if @notifications != [] %>
    <div>
      <table class="table table-hover" style="background-color: white">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <!-- <th scope="col">Heure</th> -->
            <th scope="col">Messages</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @notifications.each do |notification| %>
            <tr>
              <td><%= notification.created_at.strftime("%e %b %y") %> - <%= notification.created_at.strftime("%H:%M")%></td>
              <% if notification.action == "candidature_create_proprio" %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " demande vos services.", candidature_agent_path, class:"" %></td>
              <% elsif notification.action == "candidature_create_agent"  %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " propose ses services.", candidature_proprio_path, class:"" %></td>
              <% elsif notification.action == "candidature_accept_proprio" %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + " accepte vos services", candidature_agent_path, class:"" %></td>
              <% elsif notification.action == "candidature_accept_agent"  %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' accepte votre demande.', candidature_proprio_path, class:"" %></td>
              <% elsif notification.action == "candidature_reject_proprio"  %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète vos services.', candidature_agent_path, class:"" %></td>
              <% elsif notification.action == "candidature_reject_agent"  %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' rejète votre demande.', candidature_proprio_path, class:"" %></td>
              <% elsif notification.action == "visit_agent" %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a prévu une visite.', meetings_path(visites: {from: 'proprio'}), class:"" %></td>
              <% elsif notification.action == "rating_agent" %>
                <td><%= link_to User.find(notification.actor_id).prénom.capitalize + ' a publié un avis.', profile_path(current_user), class:"" %></td>
              <% end %>
              <td><%= link_to '', notification, method: :delete, class:"fas fa-trash"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  <% else %>
    <h4 class="text-center my-5" style="width: 100%; color:#DA334A; font-style: italic">"Aucune notification actuellement"</h4>
  <% end %>
  <p class="mb-5"><%= link_to "Retour", root_path, style:"font-size: 16px" %></p>
</div>