<div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" %>')">
  <div >
    <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-2">Vous nous recommandez. On vous récompense!</h3>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-5">
      <h5 class="text-center mt-3 my-5" style="color: #D8A727">Mes parrainages</h5>
      <p class="text-justify">Recommandez-nous et parrainez vos amis propriétaires bailleurs. Vous recevez 50 euros* si votre filleul loue son bien via notre plateforme.</p>
      <p class="my-1">Partagez votre lien personnalisé : https://www.realbeez.com/users/sign_up?referred_by=<%= current_user.id %></p>
      <p class="my-3">ou</p>
      <p class="mb-4">Envoyez un email  </p>
      <%= simple_form_for [@parrain] do |f| %>
        <%= f.input :prenom, label: false, placeholder: "Prénom du filleul" %>
        <%= f.input :nom, label: false, placeholder: "Nom du filleul" %>
        <%= f.input :email, label: false, placeholder: "Email du filleul" %>
        <div class="d-flex justify-content-center">
          <%= f.submit "Je parraine", class: "btn btn-yellow-mustard mb-5" %>
        </div>
      <% end %>
      <p style="font-size: 12px" class="text-justify">* Conditions : lorsqu'un de vos filleuls loue son bien immobilier via notre plateforme et paye les frais d'agence d'un montant de 375 €, on vous reverse 50 €. Offre valable seulement pour le premier bien loué par votre filleul.</p>
    </div>
  </div>
</div>