<div class="container">

  <% if params[:action] == "mes_annonces" %>
  <h3 class="text-center mt-5 mb-4", style="">Mes annonces</h3>
    <div class="row">
      <% @annonces.each do |annonce| %>
        <% unless annonce.statut == "annulé" %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="content border mb-5", style=" box-shadow: 0 0 5px rgba(0,0,0,0.1)">
              <%= cl_image_tag annonce.photo, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
              <div class="px-3">
                <div class="mt-2">
                  <p class=""class="text-left mb-2", style="font-size: 14px"><i class="fas fa-map-marker-alt"></i> <%= annonce.ville %></p>
                  <p class="text-left text-truncate mt-0", style="font-size: 20px"><%= annonce.titre_annonce %></p>
                </div>
                <div class="mt-0">
                  <p class='my-1', style="font-size: 14px">Nb de pièces: <%= annonce.pièces %></p>
                  <p style="font-size: 14px">Loyer mensuel: <%= annonce.loyer_mensuel %></p>
                  <div class="d-flex px-0">
                    <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-phone"></i> <%= annonce.téléphone%></p>
                    <%= link_to "Details", annonce_path(annonce), class: "my-0 ml-5 stretched-link", style:"font-size: 14px; text-decoration: underline" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>



  <% else %>
  <h3 class="text-center mt-5 mb-4">Toutes les annonces</h3>

    <nav class="navbar navbar-light justify-content-around">
      <%= form_for :search, defaults: { required: false }, url:annonces_path, method: "GET", html: { class: '' } do |f| %>
        <section style="position: relative; text-align:center;">
          <%= f.text_field :query, label: false, placeholder: "Entrer votre adresse", input_html: {value: ""}, style: "width: 19em; border-radius: 9999px; border-style: none; height: 2.5em; margin-left: auto; margin-right: auto; left: 0; right: 0; padding-left: 16px; opacity: 0.8;" %>
          <i class="fas fa-search" id="icon-search" style="position: relative; top: 2px; right: 52px; color: rgba(0,0,0,0.5);"></i>
        </section>
      <% end %>
    </nav>

    <div class="row mt-5">
      <% @annonces.each do |annonce| %>
        <% unless annonce.statut == "annulé" %>
         <div class="col-sm-12 col-md-6 col-lg-4">
           <div class="content border mb-5", style="box-shadow: 0 0 5px rgba(0,0,0,0.1)">
             <%= cl_image_tag annonce.photo, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
             <div class="px-3">
               <div class="mt-2">
                 <p class=""class="text-left mb-2", style="font-size: 14px"><i class="fas fa-map-marker-alt"></i> <%= annonce.ville %></p>
                 <p class="text-left text-truncate mt-0", style="font-size: 20px"><%= annonce.titre_annonce %></p>
               </div>
               <div class="mt-0">
                 <p class='my-1', style="font-size: 14px">Nb de pièces: <%= annonce.pièces %></p>
                 <p style="font-size: 14px">Loyer mensuel: <%= annonce.loyer_mensuel %></p>
                 <div class="d-flex px-0">
                   <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-phone"></i> <%= annonce.téléphone%></p>
                   <%= link_to "Details", annonce_path(annonce), class: "my-0 ml-5 stretched-link", style:"font-size: 14px; text-decoration: underline" %>
                 </div>
               </div>
             </div>
           </div>
         </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


