<div class="container mt-5" >
  <div class="row" >
    <div class="col-12 col-md-8 offset-md-2 p-5 border" style="background-color: white; border-radius: 10px">
      <h3 class="text-center"><strong>MANDAT DE LOCATION (sans exclusivité)</strong></h3>
      <p>Le mandat est obligatoire (article 6 loi n° 70-9 du 2 janvier 1970 et article 72 décret n° 72-678 du 20 juillet 1972) ENTRE LES SOUSSIGNÉS, ci-après dénommés «LE MANDANT » et «LE MANDATAIRE»</p>
      <h5 class="my-4 p-2 text-center" style="background-color: white; box-shadow: 0 0 8px rgba(0,0,0,0.1); color: #D8A727"><strong>LE MANDANT</strong></h5>
      <p>Le soussigné : bailleur</p>
      <p><%= @candidature.annonce.user.civilité %> <%= @candidature.annonce.user.prénom.capitalize %> <%= @candidature.annonce.user.nom.capitalize %></p>
      <p>agissant en qualité de seuls propriétaires, vous mandatons par la présente afin de rechercher un locataire et faire toutes les démarches en vue de louer les biens mobiliers et immobiliers ci-après désignés aux loyers, charges et conditions cités ci-dessous.</p>
      <h5 class="my-4 p-2 text-center" style="background-color: white; box-shadow: 0 0 8px rgba(0,0,0,0.1); color: #D8A727"><strong>LE MANDATAIRE</strong></h5>
      <p><strong>Nom </strong>: Realbeez</p>
      <p><strong>Adresse</strong> : 90 avenue de Choisy, 75013 Paris</p>
      <p><strong>Représenté par</strong> : <%= @candidature.user.prénom %> <%= @candidature.user.nom %></p>
      <p><strong>RCS </strong>: En cours</p>
      <p><strong>Carte professionnelle</strong> : En cours</p>
      <h5 class="my-4 p-2 text-center" style="background-color: white; box-shadow: 0 0 8px rgba(0,0,0,0.1); color: #D8A727"><strong>LA SITUATION ET DESIGNATION DU BIEN</strong></h5>
      <p><strong>Adresse</strong> : <%= @candidature.annonce.adresse %></p>
      <p><strong>Description</strong> : <%= @candidature.annonce.titre_annonce %> <%= link_to "voir détail de l'annonce", annonce_path(@candidature.annonce) , target: :_blank %> </p>
      <p><strong>Loyer</strong> : Le loyer initial mensuel sera de <%= @candidature.annonce.loyer_mensuel %> € charges
        comprises, dont <strong>ADD CHARGE HERE</strong> € de charges mensuelles, payable tous les premiers du mois.</p>
      <p><strong>Charges</strong> : L’ensemble des charges d’entretien courant, ainsi que les consommations d’eau, d’électricité,
        de gaz et de fuel (pour le chauffage) seront pris en charge par le locataire.</p>
      <p><strong>Cautionnement</strong> : Le dépôt de garantie directement réglé au propriétaire sera de <%= @candidature.annonce.loyer_mensuel %> <strong>ENLEVE LES CHARGES</strong>.</p>
      <p><strong>Jouissance</strong> : Les biens à louer sont libres de toute location, occupation. La prise de possession des lieux
        sera subordonnée au paiement des sommes précitées et à la signature du contrat de location par le
        preneur.</p>
      <p><strong>Pouvoirs</strong> : En considération du mandat présentement accordé, tous pouvoirs vous sont donnés pour
        mener à bien votre mission. Vous pourrez notamment :
        - effectuer toute publicité que vous jugerez utile (commerciale, petites annonces ou autres…) ; ces
        frais restant à la charge du mandataire ;
        - indiquer, présenter et faire visiter les biens à louer à toutes les personnes à la recherche d’un tel
        bien.</p>
      <p><strong>Durée</strong> : Le présent mandat vous est consenti sans exclusivité pour une période de 6 mois à compter de ce
        jour, mais pourra être révoqué à tout moment avec préavis de quinze jours.
        En conséquence, pendant la durée du mandat, nous nous engageons à ratifier la location à tout preneur
        que vous nous présenterez et acceptant les loyers, charges et conditions des présentes.
        A défaut, nous serions personnellement responsables du paiement de la commission ci-après convenue.</p>
      <h5 class="my-4 p-2 text-center" style="background-color: white; box-shadow: 0 0 8px rgba(0,0,0,0.1); color: #D8A727"><strong>LA REMUNERATION</strong></h5>
      <p>Lorsque la location aura été effectivement conclue, votre rémunération sera exigible. Celle-ci est fixée à la
        somme de 375 € toutes taxes comprises (TVA à 20%).</p>
      <p><em>soit la rémunération de l'agent de 250 €, 62,5 € de TVA, 11 € de frais de transaction et le reste de frais de gestion de Realbeez</em></p>
    </div>
  </div>
</div>