<!-- show annonces of current user -->
<h3 class="text-center mt-5 mb-5", style="">Mes biens à louer</h3>
<div class="profile-friends">
  <div class="search navigations">
    <h3 id="en_cours" class="active">En cours</h3>
    <h3 id="loué">Loués</h3>
  </div>
  <div id="friends-toPlace" class="row">
    <% if @annonces_proprio_en_cours != []  %>
      <% @annonces_proprio_en_cours.each do |annonce| %>
        <% unless annonce.statut == "annulé" || annonce.statut == "Loué"  %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="content border mb-5", style=" box-shadow: 0 0 5px rgba(0,0,0,0.1); height: 65vh">
              <%= cl_image_tag annonce.photo, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
              <div class="px-3">
                <div class="mt-2">
                  <p class=""class="text-left mb-2", style="font-size: 14px"><i class="fas fa-map-marker-alt"></i> <%= annonce.ville %></p>
                  <p class="text-left text-truncate mt-0", style="font-size: 20px"><%= annonce.titre_annonce %></p>
                </div>
                <div class="mt-0">
                  <p class='my-1', style="font-size: 14px">Nb de pièces: <%= annonce.pièces %></p>
                  <p style="font-size: 14px">Loyer mensuel: <%= annonce.loyer_mensuel %></p>
                  <div class="d-flex px-0">
                    <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-phone"></i> <%= annonce.téléphone%></p>
                    <%= link_to "Details", annonce_path(annonce), class: "my-0 ml-5", style:"font-size: 14px; text-decoration: underline" %>
                  </div>
                </div>
              </div>
              <!-- all links with gérer et valider -->
              <% if user_signed_in?  %>
                <!-- if no agent is managing the flat -->
                <% if annonce.agent.nil? && current_user.statut == "Agent" && annonce.user != current_user %>
                  <div class="text-center mt-2" >
                    <%= link_to "Gérer ce bien", new_annonce_candidature_path(annonce), class: "btn btn-primary", style:"font-size: 14px" %>
                  </div>
                  <!-- if agent assigned and the agent is the current user -->
                <% elsif annonce.agent != nil && annonce.agent == current_user.id.to_s %>
                  <!-- when flat is rented need to checkout -->
                  <% if annonce.checkout_agent != "check" %>
                    <div class="text-center mt-2 " style="">
                      <!-- <p style="font-weight: bold; color: #D8A727">Valider lorsque ce bien est loué</p> -->
                      <p><%= link_to "Valider lorsque ce bien est loué", checkout_agent_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                    </div>
                  <% else %>
                    <!-- flat is rented and checked out by proprio -->
                    <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                      Validation agent
                      <% if annonce.checkout_agent == "check" %>
                        <i class="fas fa-check" style="color: green"></i>
                      <% else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <% end %>
                    </div>
                    <div class="text-center" style="font-size: 12px; font-weight: bold">
                      Validation propriétaire
                      <% if annonce.checkout_proprio == "check" %>
                        <i class="fas fa-check" style="color: green"></i>
                      <% else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <% end %>
                    </div>
                  <% end %>
                  <!-- agent is assigned and the flat owner is the current user -->
                <% elsif annonce.agent != nil && annonce.user_id == current_user.id %>
                  <!-- when flat is rented need to checkout -->
                  <% if annonce.checkout_proprio != "check" %>
                    <div class="text-center mt-2" style="">
                      <!-- <p style="font-weight: bold; color: #D8A727">Confirmer que l'agent a loué ce bien</p> -->
                      <p><%= link_to "Votre bien est loué", checkout_proprio_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                    </div>
                  <% else %>
                    <!-- flat is rented and checked out by proprio -->
                    <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                      Validation agent
                      <% if annonce.checkout_agent == "check" %>
                        <i class="fas fa-check" style="color: green"></i>
                      <% else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <% end %>
                    </div>
                    <div class="text-center" style="font-size: 12px; font-weight: bold">
                      Validation propriétaire
                      <% if annonce.checkout_proprio == "check" %>
                        <i class="fas fa-check" style="color: green"></i>
                      <% else %>
                        <i class="fas fa-times" style="color: red"></i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4 class="text-center mt-4" style="width: 100%; color:#DA334A; font-style: italic;">"Aucune annonce actuellement"</h4>
    <% end %>
  </div>
</div>
<script>
  const addClassSelected = (target) => {
  // take parent class -> get children -> remove classes for all children
  // console.log(target)
  const children = target.parentElement.children;
  const childAmount = target.parentElement.childElementCount;
  for (let i=0; i<childAmount; i++) {
    children[i].classList.remove("active");
  }
  // add class
  target.classList.add("active");
  };
  
   this.addEventListener("click", (e) => {
    console.log(e)
    const whereToShow = document.querySelector("#friends-toPlace");
    const id = e.target.id;
    console.log(id)
    if (id === "en_cours") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% if @annonces_proprio_en_cours != []  %>
          <% @annonces_proprio_en_cours.each do |annonce| %>
            <% unless annonce.statut == "annulé" || annonce.statut == "Loué"  %>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="content border mb-5", style=" box-shadow: 0 0 5px rgba(0,0,0,0.1); height: 65vh">
                  <%= cl_image_tag annonce.photo, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
                  <div class="px-3">
                    <div class="mt-2">
                      <p class=""class="text-left mb-2", style="font-size: 14px"><i class="fas fa-map-marker-alt"></i> <%= annonce.ville %></p>
                      <p class="text-left text-truncate mt-0", style="font-size: 20px"><%= annonce.titre_annonce %></p>
                    </div>
                    <div class="mt-0">
                      <p class='my-1', style="font-size: 14px">Nb de pièces: <%= annonce.pièces %></p>
                      <p style="font-size: 14px">Loyer mensuel: <%= annonce.loyer_mensuel %></p>
                      <div class="d-flex px-0">
                        <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-phone"></i> <%= annonce.téléphone%></p>
                        <%= link_to "Details", annonce_path(annonce), class: "my-0 ml-5", style:"font-size: 14px; text-decoration: underline" %>
                      </div>
                    </div>
                  </div>
                  <!-- all links with gérer et valider -->
                  <% if user_signed_in?  %>
                    <!-- if no agent is managing the flat -->
                    <% if annonce.agent.nil? && current_user.statut == "Agent" && annonce.user != current_user %>
                      <div class="text-center mt-2" >
                        <%= link_to "Gérer ce bien", new_annonce_candidature_path(annonce), class: "btn btn-primary", style:"font-size: 14px" %>
  
                      </div>
                     <!-- if agent assigned and the agent is the current user -->
                    <% elsif annonce.agent != nil && annonce.agent == current_user.id.to_s %>
                     <!-- when flat is rented need to checkout -->
                      <% if annonce.checkout_agent != "check" %>
                        <div class="text-center mt-2 " style="">
                          <!-- <p style="font-weight: bold; color: #D8A727">Valider lorsque ce bien est loué</p> -->
                          <p><%= link_to "Valider lorsque ce bien est loué", checkout_agent_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                        </div>
                      <% else %>
                       <!-- flat is rented and checked out by proprio -->
                        <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                         Validation agent
                          <% if annonce.checkout_agent == "check" %>
                           <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                           <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                        <div class="text-center" style="font-size: 12px; font-weight: bold">
                         Validation propriétaire
                          <% if annonce.checkout_proprio == "check" %>
                            <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <!-- agent is assigned and the flat owner is the current user -->
                    <% elsif annonce.agent != nil && annonce.user_id == current_user.id %>
                      <!-- when flat is rented need to checkout -->
                      <% if annonce.checkout_proprio != "check" %>
                        <div class="text-center mt-2" style="">
                          <!-- <p style="font-weight: bold; color: #D8A727">Votre bien est loué</p> -->
                          <p><%= link_to "Confirmer que l'agent a loué ce bien", checkout_proprio_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                        </div>
                      <% else %>
                        <!-- flat is rented and checked out by proprio -->
                        <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                         Validation agent
                          <% if annonce.checkout_agent == "check" %>
                           <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                        <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                         Validation propriétaire
                          <% if annonce.checkout_proprio == "check" %>
                            <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <h4 class="text-center mt-4" style="width: 100%; color:#DA334A; font-style: italic;">"Aucune annonce actuellement"</h4>
        <% end %>
      `);
    }
    else if (id === "loué") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <% if @annonces_proprio_loué != []  %>
          <% @annonces_proprio_loué.each do |annonce| %>
            <% if annonce.statut == "Loué"  %>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="content border mb-5", style=" box-shadow: 0 0 5px rgba(0,0,0,0.1); height: 65vh">
                  <%= cl_image_tag annonce.photo, class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
                  <div class="px-3">
                    <div class="mt-2">
                      <p class=""class="text-left mb-2", style="font-size: 14px"><i class="fas fa-map-marker-alt"></i> <%= annonce.ville %></p>
                      <p class="text-left text-truncate mt-0", style="font-size: 20px"><%= annonce.titre_annonce %></p>
                    </div>
                    <div class="mt-0">
                      <p class='my-1', style="font-size: 14px">Nb de pièces: <%= annonce.pièces %></p>
                      <p style="font-size: 14px">Loyer mensuel: <%= annonce.loyer_mensuel %></p>
                      <div class="d-flex px-0">
                        <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-phone"></i> <%= annonce.téléphone%></p>
                        <%= link_to "Details", annonce_path(annonce), class: "my-0 ml-5", style:"font-size: 14px; text-decoration: underline" %>
                      </div>
                    </div>
                  </div>
                  <!-- all links with gérer et valider -->
                  <% if user_signed_in?  %>
                    <!-- if no agent is managing the flat -->
                    <% if annonce.agent.nil? && current_user.statut == "Agent" && annonce.user != current_user %>
                      <div class="text-center mt-2" >
                        <%= link_to "Gérer ce bien", new_annonce_candidature_path(annonce), class: "btn btn-primary", style:"font-size: 14px" %>
  
                      </div>
                     <!-- if agent assigned and the agent is the current user -->
                    <% elsif annonce.agent != nil && annonce.agent == current_user.id.to_s %>
                     <!-- when flat is rented need to checkout -->
                      <% if annonce.checkout_agent != "check" %>
                        <div class="text-center mt-2 " style="">
                          <!-- <p style="font-weight: bold; color: #D8A727">Valider lorsque ce bien est loué</p> -->
                          <p><%= link_to "Valider lorsque ce bien est loué", checkout_agent_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                        </div>
                      <% else %>
                       <!-- flat is rented and checked out by proprio -->
                        <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                         Validation agent
                          <% if annonce.checkout_agent == "check" %>
                           <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                           <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                        <div class="text-center" style="font-size: 12px; font-weight: bold">
                         Validation propriétaire
                          <% if annonce.checkout_proprio == "check" %>
                            <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <!-- agent is assigned and the flat owner is the current user -->
                    <% elsif annonce.agent != nil && annonce.user_id == current_user.id %>
                      <!-- when flat is rented need to checkout -->
                      <% if annonce.checkout_proprio != "check" %>
                        <div class="text-center mt-2" style="">
                          <!-- <p style="font-weight: bold; color: #D8A727">Votre bien est loué</p> -->
                          <p><%= link_to "Confirmer que l'agent a loué ce bien", checkout_proprio_path(annonce), class: "btn btn-success", style:"font-size: 14px",data: { confirm: 'Vous confirmer que ce bien a été loué.' } %></p>
                        </div>
                      <% else %>
                        <!-- flat is rented and checked out by proprio -->
                        <div class="text-center mt-2" style="font-size: 12px; font-weight: bold">
                         Validation agent
                          <% if annonce.checkout_agent == "check" %>
                           <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                        <div class="text-center" style="font-size: 12px; font-weight: bold">
                         Validation propriétaire
                          <% if annonce.checkout_proprio == "check" %>
                            <i class="fas fa-check" style="color: green"></i>
                          <% else %>
                            <i class="fas fa-times" style="color: red"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <h4 class="text-center mt-4" style="width: 100%; color:#DA334A; font-style: italic;">"Aucune annonce actuellement"</h4>
        <% end %>
      `);
    };
  });
</script>