<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", style="background-color: transparent">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
      <%= image_tag "logo_rb.png", style: "" %>
      <span class="ml-2", style="font-family: simply rounded; color: rgb(60 60 60); font-size: 30px; letter-spacing: 1px">Real</span>
      <span style="font-family: simply rounded; color: rgb(216 167 40); font-size: 30px; letter-spacing: 1px">beez</span>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Publier une annonce", new_annonce_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Devenir agent Realbeez", "", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nos Annonces", annonces_path, class: "nav-link" %>
        </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mes amis", my_friends_path, class: "dropdown-item" %>
            <%= link_to "Candidatures", candidatures_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
