<div class="navbar navbar-expand-sm navbar-light navbar-lewagon hide-on-mobile fixed-top", style="">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
      <%= image_tag "logo_rb.png", style: "" %>
      <%= image_tag "logo_text.png", class: "ml-2", style: "width: 140px" %>
    </div>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Publier une annonce", new_annonce_path, class: "nav-link hide-on-mobile", style:"color: white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Devenir agent Realbeez", new_agent_path, class: "nav-link hide-on-mobile", style:"color: white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tarifs", details_path, class: "nav-link hide-on-mobile", style:"color: white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Annonces", annonces_path, class: "nav-link hide-on-mobile", style:"color: white" %>
      </li>
      <li class="nav-item">
        <%= link_to "Agents", profiles_path, class: "nav-link hide-on-mobile", style:"color: white" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Mon réseau", my_friends_path, class: "dropdown-item" %>
            <% if current_user.annonces !=  [] %>
              <div class="border-top">
                <p class="text-center mt-2 mb-0" style="font-weight: bold; color: #D8A727">Propriétaire</p>
                <%= link_to "Mes annonces", mes_annonces_path, class: "dropdown-item" %>
                <%= link_to "Visites de mes agents", meetings_path(visites: {from: 'proprio'}), class: "dropdown-item" %>
                <%= link_to "Candidatures d'agents", candidature_proprio_path, class: "dropdown-item" %>
                <%= link_to "Mes paiements", orders_path, class: "dropdown-item" %>
              </div>
            <% end %>
            <% if current_user.statut == "Agent" %>
              <div class="border-top">
                <p class="text-center mt-2 mb-0" style="font-weight: bold; color: #D8A727">Agent Realbeez</p>
                <%= link_to "Mes biens à gérer", biens_a_gerer_path, class: "dropdown-item" %>
                <%= link_to "Mes visites", meetings_path, class: "dropdown-item" %>
                <%= link_to "Mes candidatures", candidature_agent_path, class: "dropdown-item" %>
              </div>
            <% end %>
            <% if current_user.admin == true %>
              <div class="border-top">
                <p class="text-center mt-2 mb-0" style="font-weight: bold; color: #D8A727">Administrateur</p>
                <%= link_to "Candidatures agents Realbeez", agents_path, class: "dropdown-item" %>
                <%= link_to "Voir tous les utilisateurs", profile_all_users_path, class: "dropdown-item" %>
              </div>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>