<!-- Laptop version -->
<div class="pb-5 hide-on-small" style="background-color: white">
  <div class="container pt-4 pb-5" >
    <h3 class="text-center mb-5" style="margin: 10vh 0 4vh;">Nos partenaires</h3>
    <div class="row">
      <div class="col-12 col-md-3 offset-md-3 text-center">
        <%= link_to "https://www.smartloc.fr/gestion-locative/creation?utm_source=realbeez#?gel=1", target: :blank do %>
          <%= cl_image_tag "https://res.cloudinary.com/dvfwroq5k/image/upload/v1605628755/smartloc_fruxpf.png", class: "rounded-top", style: "height: 50px; width:; object-fit: contain; background-color: transparent"%>
        <% end %>
      </div>
      <div class="col-12 col-md-3 text-center">
        <%= link_to "https://garantme.fr/fr/realbeez", target: :blank do  %>
          <%= cl_image_tag "https://res.cloudinary.com/dvfwroq5k/image/upload/v1605628757/GARANTME-LOGO-TRANSPARENT-BG_i0grsu.png", class: "rounded-top", style: "height: 50px; width:%; object-fit: contain; background-color: transparent"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Mobile version -->
<div class="pb-5 hide-on-large" style="background-color: white">
  <div class="container pt-4 pb-5" >
    <h3 class="text-center mb-5" style="margin: 10vh 0 4vh;">Nos partenaires</h3>
    <div class="row">
      <div class="col-6 col-md-3 offset-md-3 text-center">
        <%= link_to "https://www.smartloc.fr/gestion-locative/creation?utm_source=realbeez#?gel=1", target: :blank do %>
          <%= cl_image_tag "https://res.cloudinary.com/dvfwroq5k/image/upload/v1605628755/smartloc_fruxpf.png", class: "rounded-top", style: "height: 40px; width:; object-fit: contain; background-color: transparent"%>
        <% end %>
      </div>
      <div class="col-6 col-md-3 text-center">
        <%= link_to "https://garantme.fr/fr/realbeez", target: :blank do  %>
          <%= cl_image_tag "https://res.cloudinary.com/dvfwroq5k/image/upload/v1605628757/GARANTME-LOGO-TRANSPARENT-BG_i0grsu.png", class: "rounded-top", style: "height: 40px; width:%; object-fit: contain; background-color: transparent"%>
        <% end %>
      </div>
    </div>
  </div>
</div>