<div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://res.cloudinary.com/dvfwroq5k/image/upload/v1572493590/Realbeez_fscwpd.jpg" %>')">
  <div >
    <p style="color:white; font-family: simply rounded; font-size: 26px" class="text-center mb-3 px-2">Devenez consultant en immobilier et gagnez 250 euros par bien loué.
      <br>
      Une seule visite peut suffire !</p>
    <div class="text-center"><%= render "shared/info_agent" %></div>
  </div>
</div>
<div class="py-5" style="background-color: white">
  <h4 style="" class="text-center mb-5 px-2">Remplir le formulaire ci-dessous</h4>
  <div class="container center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 offset-md-2">
        <p class="p-0"style="font-weight: bold; color: #D8A727">Mon profile <%= link_to "",edit_user_registration_path, class:"fas fa-edit ml-2" %> <span style="color:#DA334A; font-weight: lighter; font-size: 14px"><em>(Veuillez remplir tous les champs liés à votre profil avant de continuer)</em></span></p>
      </div>
    </div>
  </div>
  <div class="container center mb-5" >
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="row border p-2" style="background-color: white; border-radius: 10px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
          <div class="col-12">
            <p style="font-weight: bold"> Candidature de <%= current_user.prénom.capitalize %> <%= current_user.nom.capitalize  %></p>
          </div>
          <div class="col-12 col-md-6 " >
            <% if current_user.adresse == nil || current_user.adresse == "" %>
              <p class=" mt-0 mb-3" ><i class="fas fa-map-marker-alt mr-3"></i><%= link_to "Aucune adresse", edit_user_registration_path(current_user)%></p>
            <% else %>
              <p class=" mt-0 mb-3" ><i class="fas fa-map-marker-alt mr-3"></i><%= current_user.adresse %></p>
            <% end %>
            <p><i class="fas fa-city mr-3"></i> <%= current_user.ville.capitalize%></p>
          </div>
          <div class="col-12 col-md-6">
            <% if current_user.téléphone == nil || current_user.téléphone == "" %>
              <p class=" mt-0 mb-3" ><i class="fas fa-phone-square mr-3"></i><%= link_to "Aucun numéro de téléphone", edit_user_registration_path(current_user)%>
              </p>
            <% else %>
              <p class=" mt-0 mb-3" ><i class="fas fa-phone-square mr-3"></i><%= current_user.téléphone %></p>
            <% end %>
            <p><i class="fas fa-envelope mr-3"></i> <%= current_user.email %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 offset-md-2">
        <%= render "shared/disponibilités" %>
      </div>
    </div>
  </div>
  <div class="container center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 offset-md-2 ">
        <p class="p-0"style="font-weight: bold; color: #D8A727">Informations complémentaires </p>
      </div>
    </div>
  </div>
  <div class="container center mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="center border p-3" style="background-color: white; border-radius: 10px; ; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
          <%= simple_form_for [@agent] do |f| %>
            <% if @agent.errors.any? %>
              <div class="errors-container">
                <ul>
                  <% @agent.errors.full_messages.each do |message| %>
                    <% if message == "User has already been taken" %>
                      <p>Vous avez déja postulé</p>
                    <% end %>
                    <%= f.input :date_de_naissance, as: :string, input_html: { class: "col-12 col-md-5 datepicker"} %>
                    <%= f.input :auto_entrepreneur, label: "Avez-vous déjà le statut d'auto-entrepreneur / indépendant?", collection: ["oui (téléchargez votre justificatif de l'Insee ci-dessous)", "non (vous allez recevoir un email avec les démarches à suivre)"], as: :radio_buttons %>
                    <%= f.input :justif_entrepreneur, label: "Justificatif de l'Insee à télécharger" %>
                    <%= f.input :justif_entrepreneur_cache, as: :hidden %>
                    <%= f.input :connaissance, collection:
                        [
                          "Google",
                          "Facebook",
                          "Leboncoin",
                          "Bouche à oreille",
                          "Autre"
                        ],label: "Comment avez-vous connue Realbeez?", as: :radio_buttons %>
                    <%= f.input :experience, label: "Décrivez vos expériences" %>
                    <%#= f.input :cv, label: "Merci de télépcharger votre CV" %>
                    <%#= f.input :cv_cache, as: :hidden %>
                    <%= f.submit "Postuler", class: "btn btn-yellow-mustard mb-5" %>
                    <ul>
                      <li>
                        <%= message %>
                      </li>
                    </ul>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <%= f.input :date_de_naissance, as: :string, input_html: { class: "col-12 col-md-5 datepicker"} %>
              <%= f.input :auto_entrepreneur, label: "Avez-vous déjà le statut d'auto-entrepreneur / indépendant?", collection: ["oui (téléchargez votre justificatif de l'Insee ci-dessous)", "non (vous allez recevoir un email avec les démarches à suivre)"], as: :radio_buttons %>
              <%= f.input :justif_entrepreneur, label: "Justificatif de l'Insee à télécharger" %>
              <%= f.input :justif_entrepreneur_cache, as: :hidden %>
              <%= f.input :connaissance, collection:
              [
                "Google",
                "Facebook",
                "Leboncoin",
                "Bouche à oreille",
                "Autre"
              ],label: "Comment avez-vous connu Realbeez?", as: :radio_buttons %>
              <%= f.input :experience, label: "Décrivez vos expériences" %>
              <!--  <p class="" style="color:#DA334A; font-weight: lighter; margin-top: -12px; font-size: 14px"><em>Votre description sera publié sur votre profil et visible par les propriétaires.</em></p> -->
              <%#= f.input :cv, label: false  %>
              <%#= f.input :cv_cache, as: :hidden %>
              <%= f.submit "Modifier", class: "btn btn-yellow-mustard" %>
              <%= link_to "Annuler", root_path, class:"btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
