<h3 class="text-center mt-5 mb-5">Postuler pour devenir Agent Realbeez</h3>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-10 offset-lg-2">
      <p class="p-0"style="font-weight: bold; color: #D8A727">Mon profile <%= link_to "",edit_user_registration_path, class:"fas fa-edit ml-2" %> </p>
    </div>
  </div>
</div>
<div class="container center mb-5" >
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="row  border p-2" style="background-color: white; border-radius: 10px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="col-12 col-md-6 col-lg-6" >
          <p> Prénom : <%= current_user.prénom %> </p>
          <p><i class="fas fa-phone-square mr-3"></i> <%= current_user.téléphone %></p>
          <p><i class="fas fa-map-marker-alt mr-3"></i> <%= current_user.adresse %></p>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <p> Nom : <%= current_user.nom  %></p>
          <p><i class="fas fa-envelope mr-3"></i> <%= current_user.email %></p>
          <p><i class="fas fa-city mr-3"></i> <%= current_user.ville %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-10 offset-lg-2">
      <%= render "shared/disponibilités" %>
    </div>
  </div>
</div>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-10 offset-lg-2 ">
      <p class="p-0"style="font-weight: bold; color: #D8A727">Informations complémentaires </p>
    </div>
  </div>
</div>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="center border p-3" style="background-color: white; border-radius: 10px; ; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <%= simple_form_for [@agent] do |f| %>
          <% if @agent.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @agent.errors.full_messages.each do |message| %>
                  <% if message == "User has already been taken" %>
                    <p>Vous avez déja postulé</p>
                  <% end %>
                  <%= f.input :date_de_naissance, as: :date, start_year: Date.today.year - 90,
                                                end_year: Date.today.year - 12, discard_day: true,
                                                order: [:month, :year] %>
                  <%= f.input :auto_entrepreneur, label: "Avez-vous le statut d'auto-entrepreneur / indépendant", collection: ["oui", "non"], as: :radio_buttons %>
                  <%= f.input :connaissance, collection:
                        [
                          "Google",
                          "Facebook",
                          "Leboncoin",
                          "Bouche à oreille",
                          "Autre"
                        ],label: "Comment avez-vous connue Realbeez?", as: :radio_buttons %>
                  <%= f.input :cv, label: "Merci de télépcharger votre CV" %>
                  <%= f.input :cv_cache, as: :hidden %>
                  <%= f.submit "Postuler", class: "btn btn-success mb-5" %>
                  <ul>
                    <li>
                      <%= message %>
                    </li>
                  </ul>
                <% end %>
              </ul>
            </div>
          <% else %>
            <%= f.input :date_de_naissance %>
            <%= f.input :auto_entrepreneur, label: "Avez-vous le statut d'auto-entrepreneur / indépendant", collection: ["oui", "non"], as: :radio_buttons %>
            <%= f.input :connaissance, collection:
              [
                "Google",
                "Facebook",
                "Leboncoin",
                "Bouche à oreille",
                "Autre"
              ],label: "Comment avez-vous connu Realbeez?", as: :radio_buttons %>
            <%= f.input :experience, label: "Décrivez vos expériences ou télécharger votre CV : " %>
            <%= f.input :cv, label: false  %>
            <%= f.input :cv_cache, as: :hidden %>
            <%= f.submit "Postuler", class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>