<div class="container">
  <h3 class="text-center mt-5 mb-4">Mes paiements</h3>
  <% if @orders != [] %>
    <% @orders.each do |order| %>
      <div class="row py-4">
        <div class="col-md-3"><%= image_tag order.annonce.photo_url, width: '100%' %></div>
        <div class="col">
          <h5>COMMANDE #<%= order.id %> <small><span class="badge badge-primary"><%= order.state %></span></small></h5>
          <ul class="list-unstyled">
            <li><strong>Effectué le</strong> <%= order.created_at.to_date %></li>
            <li><strong>Annonce : </strong> <%= order.annonce.titre_annonce %></li>
            <li><strong>TOTAL</strong> <%= humanized_money_with_symbol order.amount %></li>
          </ul>
          <% if order.state == "pending" %>
            <%= link_to "Payer", new_order_payment_path(order), class:"btn btn-success"  %>
            <%= link_to "Annuler", order_path(order), data: { confirm: 'En annulant vous confirmer que le bien n\'a pas été loué.' }, method: :delete, class:"btn btn-danger"  %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4 class="text-center" style="width: 100%; color: #DA334A; font-style: italic">"Aucun paiement en attente"</h4>
  <% end %>
</div>