<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-157808077-1');
</script>
<!-- LAPTOP VERSION -->
<div class="hide-on-small">
  <div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1519643225200-94e79e383724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80" %>')">
    <div >
      <h3 style="color: white; font-family: simply rounded; font-size: 22px" class="text-center px-1">Quels sont les documents à remettre par le propriétaire lors d’une location immobilière ?</h3>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large">
  <div class="" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1519643225200-94e79e383724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80" %>')">
    <div class="text-center pt-3 d-flex justify-content-center">
      <%= link_to "Louer mon bien", new_contact_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
    </div>
    <div class="text-center pt-3 d-flex align-items-center justify-content-center" style="height: 36vh">
      <h3 style="color: white; font-family: simply rounded; font-size: 22px" class="text-center px-4">Quels sont les documents à remettre par le propriétaire lors d’une location immobilière ?</h3>
    </div>
  </div>
</div>
<div class="" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <p style="font-size: 12px">Publié le 28/03/2020</p>
        <p class="mt-5">Le bailleur est tenu de remettre au locataire un certain nombre de documents lors de la signature du contrat de location et en cours de bail.</p>
        <div class="profile-friends">
          <div class="search navigations">
            <h3 id="en_cours" class="active" style="font-size: 16px">Logement vide</h3>
            <h3 id="loué" style="font-size: 16px">Logement meublé</h3>
          </div>
          <div id="friends-toPlace">
            <h5 class="text-center my-5" style="color: #D8A727">1. Documents annexes au contrat de bail (vide)
            </h5>
            <p>Des documents informatifs sont à remettre au locataire lors de la signature du contrat de bail et de son renouvèlement.</p>
            <p>Les annexes dépendent de la date de signature et de son renouvellement. Pour les baux locatifs ayant eu lieux à partir de janvier 2018 les documents à joindre sont les suivants : </p>
            <p class="mt-5" style="font-weight: bold; color: #D8A727">Un dossier de diagnostic technique</p>
            <ul>
              <li>
                <p><strong>Diagnostic de performance énergétique (DPE)</strong> : Le DPE est un document qui donne une estimation de la consommation énergétique d'un logement et son taux d'émission de gaz à effet de serre. Ce document vise à informer le locataire sur le bien qu'il projette de louer.</p>
              </li>
              <li>
                <p> <strong>Constat de risque d'exposition au plomb (Crep)</strong> : Le Crep est un document qui donne des informations sur la présence de plomb dans un logement. Il concerne uniquement les logements construits avant 1949. Le plomb est généralement présent dans les anciennes peintures de ces logements.</p>
              </li>
              <li>
                <p><strong>État des risques et pollutions </strong> : Le locataire d'un bien immobilier doit être informé par le bailleur des risques et pollutions (naturels, miniers, technologiques, sismiques, radon...) auxquelles ce bien est exposé. Pour ce faire, un diagnostic état des risques et pollutions fondé sur les informations transmises par le préfet du département, doit être annexé au bail.</p>
              </li>
              <li>
                <p><strong>État de l'installation intérieure d'électricité</strong> : Il s’agit d’un diagnostic qui donne un aperçu de la sécurité des installations électriques d'un logement. Il est obligatoire pour toutes les installations d’électricité qui ont plus de 15 ans.</p>
              </li>
              <li>
                <p> <strong>État de l'installation intérieure de gaz</strong> : Ce diagnostic donne un aperçu de la sécurité des installations de gaz d'un logement. Il est obligatoire pour toutes les installations de gaz qui ont plus de 15 ans.</p>
              </li>
            </ul>
            <p class="mt-5" style="font-weight: bold; color: #D8A727">D'autres documents doivent également être annexés au bail</p>
            <div class="hide-on-large my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
            <div class="hide-on-small my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
            <ul>
              <li>
                <p><%= link_to "Une notice informative", "https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000030649902", target: :blank %></p>
              </li>
              <li>
                <p><strong>État des lieux </strong> : Ce document décrit l'état du logement et de ses équipements à l'entrée dans les lieux du locataire. Un nouvel état des lieux sera dressé lorsque le locataire quittera le logement et rendra les clés. En cas de litige, la comparaison de ces 2 documents permettra d'établir les responsabilités de chaque partie.</p>
              </li>
              <li>
                <p><strong>Attestation d’assurance contre les risques locatifs</strong> : Le locataire est responsable des dommages qu'il cause à l'immeuble pendant la location. Il doit donc réparer les dégâts occasionnés. La loi l'oblige, dans la majorité des cas, à s'assurer pour prendre en charge ces risques : c'est la garantie risques locatifs. </p>
              </li>
              <li>
                <p><strong>Extrait du règlement de copropriété (pour les immeubles en copropriété)</strong> : Il s’agit d’un document écrit qui définit les règles de fonctionnement de l'immeuble et précise les droits et les obligations des copropriétaires. Les modifications du règlement de copropriété obéissent à des règles de vote distinctes selon leur nature. Le syndic de copropriété est responsable de son application.</p>
              </li>
            </ul>
            <h5 class="text-center my-5" style="color: #D8A727">2. Quittances de loyer
            </h5>
            <p>Pour chaque loyer réglé, le propriétaire (ou son mandataire) est tenu de transmettre <strong>gratuitement</strong> une quittance de loyer à son locataire qui en fait la demande.</p>
            <p>Aucuns frais liés à la gestion de l’avis d’échéance ou de la quittance ne peuvent être facturés.</p>
            <p>Le propriétaire n’est pas tenu d’envoyer une quittance à son locataire tous les mois mais il ne peut refuser de lui en délivrer une si le locataire les réclame.</p>
            <p>Les mentions obligatoires à figurer sur la quittance de loyer sont les suivantes :</p>
            <ul>
              <li class="mb-1">le nom, prénom et adresse du locataire,</li>
              <li class="mb-1">la période de location à laquelle elle se rapporte (ex : du 01/01/2020 au 31/01/2020),</li>
              <li class="mb-1">le détail des sommes versées par le locataire en distinguant le loyer et les charges,</li>
              <li class="mb-1">la date d’émission de la quittance,</li>
              <li>la signature du bailleur.</li>
            </ul>
            <h5 class="text-center my-5" style="color: #D8A727">3. Justificatifs de charges
            </h5>
            <p>Le montant des charges récupérées par le bailleur doit être justifié.</p>
            <p>La régularisation annuelle doit comparer le total des provisions versées par les locataires avec les dépenses effectives engagées par le propriétaire pendant l'année.</p>
            <p>Si les provisions sont supérieures aux dépenses réelles, le propriétaire doit reverser le trop-perçu au locataire et, dans le cas contraire, demander un complément.</p>
            <p>Un mois avant la régularisation annuelle, le propriétaire (ou bailleur) doit communiquer au locataire les éléments suivants :</p>
            <ul>
              <li class="mb-1">le décompte des charges locatives par nature de charges (électricité, eau chaude, eau froide, ascenseur...),</li>
              <li class="mb-1">le mode de répartition entre les locataires si le logement est situé dans un immeuble en copropriété,</li>
              <li>une note d'information sur les conditions de chauffage et de production d'eau chaude sanitaire collectifs.</li>
            </ul>
            <p>Durant les 6 mois qui suivent l'envoi du décompte, le bailleur doit tenir à la disposition du locataire l'ensemble des pièces justifiant la récupération des charges.</p>
            <p>Il pourra s'agir des factures, des contrats de fourniture et d'exploitation en cours et de leurs avenants, de l'indication de la quantité consommée et du prix unitaire de chacune des catégories de charges.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const addClassSelected = (target) => {
  // take parent class -> get children -> remove classes for all children
  // console.log(target)
  const children = target.parentElement.children;
  const childAmount = target.parentElement.childElementCount;
  for (let i=0; i<childAmount; i++) {
    children[i].classList.remove("active");
  }
  // add class
  target.classList.add("active");
  };
  
   this.addEventListener("click", (e) => {
    console.log(e)
    const whereToShow = document.querySelector("#friends-toPlace");
    const id = e.target.id;
    console.log(id)
    if (id === "en_cours") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <h5 class="text-center my-5" style="color: #D8A727">1. Documents annexes au contrat de bail (vide)
          </h5>
          <p>Des documents informatifs sont à remettre au locataire lors de la signature du contrat de bail et de son renouvèlement.</p>
          <p>Les annexes dépendent de la date de signature et de son renouvellement. Pour les baux locatifs ayant eu lieux à partir de janvier 2018 les documents à joindre sont les suivants : </p>
          <p class="mt-5" style="font-weight: bold; color: #D8A727">Un dossier de diagnostic technique</p>
          <ul>
            <li>
              <p><strong>Diagnostic de performance énergétique (DPE)</strong> : Le DPE est un document qui donne une estimation de la consommation énergétique d'un logement et son taux d'émission de gaz à effet de serre. Ce document vise à informer le locataire sur le bien qu'il projette de louer.</p>
            </li>
            <li>
              <p> <strong>Constat de risque d'exposition au plomb (Crep)</strong> : Le Crep est un document qui donne des informations sur la présence de plomb dans un logement. Il concerne uniquement les logements construits avant 1949. Le plomb est généralement présent dans les anciennes peintures de ces logements.</p>
            </li>
            <li>
              <p><strong>État des risques et pollutions </strong> : Le locataire d'un bien immobilier doit être informé par le bailleur des risques et pollutions (naturels, miniers, technologiques, sismiques, radon...) auxquelles ce bien est exposé. Pour ce faire, un diagnostic état des risques et pollutions fondé sur les informations transmises par le préfet du département, doit être annexé au bail.</p>
            </li>
            <li>
              <p><strong>État de l'installation intérieure d'électricité</strong> : Il s’agit d’un diagnostic qui donne un aperçu de la sécurité des installations électriques d'un logement. Il est obligatoire pour toutes les installations d’électricité qui ont plus de 15 ans.</p>
            </li>
            <li>
              <p> <strong>État de l'installation intérieure de gaz</strong> : Ce diagnostic donne un aperçu de la sécurité des installations de gaz d'un logement. Il est obligatoire pour toutes les installations de gaz qui ont plus de 15 ans.</p>
            </li>
          </ul>
          <p class="mt-5" style="font-weight: bold; color: #D8A727">D'autres documents doivent également être annexés au bail</p>
           <div class="hide-on-large my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
            <div class="hide-on-small my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
          <ul>
            <li>
              <p><%= link_to "Une notice informative", "https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000030649902", target: :blank %></p>
            </li>
            <li>
              <p><strong>État des lieux </strong> : Ce document décrit l'état du logement et de ses équipements à l'entrée dans les lieux du locataire. Un nouvel état des lieux sera dressé lorsque le locataire quittera le logement et rendra les clés. En cas de litige, la comparaison de ces 2 documents permettra d'établir les responsabilités de chaque partie.</p>
            </li>
            <li>
              <p><strong>Attestation d’assurance contre les risques locatifs</strong> : Le locataire est responsable des dommages qu'il cause à l'immeuble pendant la location. Il doit donc réparer les dégâts occasionnés. La loi l'oblige, dans la majorité des cas, à s'assurer pour prendre en charge ces risques : c'est la garantie risques locatifs. </p>
            </li>
            <li>
              <p><strong>Extrait du règlement de copropriété (pour les immeubles en copropriété)</strong> : Il s’agit d’un document écrit qui définit les règles de fonctionnement de l'immeuble et précise les droits et les obligations des copropriétaires. Les modifications du règlement de copropriété obéissent à des règles de vote distinctes selon leur nature. Le syndic de copropriété est responsable de son application.</p>
            </li>
          </ul>
          <h5 class="text-center my-5" style="color: #D8A727">2. Quittances de loyer
          </h5>
          <p>Pour chaque loyer réglé, le propriétaire (ou son mandataire) est tenu de transmettre <strong>gratuitement</strong> une quittance de loyer à son locataire qui en fait la demande.</p>
          <p>Aucuns frais liés à la gestion de l’avis d’échéance ou de la quittance ne peuvent être facturés.</p>
          <p>Le propriétaire n’est pas tenu d’envoyer une quittance à son locataire tous les mois mais il ne peut refuser de lui en délivrer une si le locataire les réclame.</p>
          <p>Les mentions obligatoires à figurer sur la quittance de loyer sont les suivantes :</p>
          <ul>
            <li class="mb-1">le nom, prénom et adresse du locataire,</li>
            <li class="mb-1">la période de location à laquelle elle se rapporte (ex : du 01/01/2020 au 31/01/2020),</li>
            <li class="mb-1">le détail des sommes versées par le locataire en distinguant le loyer et les charges,</li>
            <li class="mb-1">la date d’émission de la quittance,</li>
            <li>la signature du bailleur.</li>
          </ul>
          <h5 class="text-center my-5" style="color: #D8A727">3. Justificatifs de charges
          </h5>
          <p>Le montant des charges récupérées par le bailleur doit être justifié.</p>
          <p>La régularisation annuelle doit comparer le total des provisions versées par les locataires avec les dépenses effectives engagées par le propriétaire pendant l'année.</p>
          <p>Si les provisions sont supérieures aux dépenses réelles, le propriétaire doit reverser le trop-perçu au locataire et, dans le cas contraire, demander un complément.</p>
          <p>Un mois avant la régularisation annuelle, le propriétaire (ou bailleur) doit communiquer au locataire les éléments suivants :</p>
          <ul>
            <li class="mb-1">le décompte des charges locatives par nature de charges (électricité, eau chaude, eau froide, ascenseur...),</li>
            <li class="mb-1">le mode de répartition entre les locataires si le logement est situé dans un immeuble en copropriété,</li>
            <li>une note d'information sur les conditions de chauffage et de production d'eau chaude sanitaire collectifs.</li>
          </ul>
          <p>Durant les 6 mois qui suivent l'envoi du décompte, le bailleur doit tenir à la disposition du locataire l'ensemble des pièces justifiant la récupération des charges.</p>
          <p>Il pourra s'agir des factures, des contrats de fourniture et d'exploitation en cours et de leurs avenants, de l'indication de la quantité consommée et du prix unitaire de chacune des catégories de charges.</p>
  
        `);
    }
    else if (id === "loué") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
        <h5 class="text-center my-5" style="color: #D8A727">1. Documents annexes au contrat de bail (meublé)
        </h5>
        <p>Des documents informatifs sont à remettre au locataire lors de la signature du contrat de bail et de son renouvèlement.</p>
        <p>Les annexes dépendent de la date de signature et de son renouvellement. Pour les baux locatifs ayant eu lieux à partir de janvier 2018 les documents à joindre sont les suivants : </p>
        <p class="mt-5" style="font-weight: bold; color: #D8A727">Un dossier de diagnostic technique</p>
        <ul>
          <li>
            <p><strong>Diagnostic de performance énergétique (DPE)</strong> : Le DPE est un document qui donne une estimation de la consommation énergétique d'un logement et son taux d'émission de gaz à effet de serre. Ce document vise à informer le locataire sur le bien qu'il projette de louer.</p>
          </li>
          <li>
            <p> <strong>Constat de risque d'exposition au plomb (Crep)</strong> : Le Crep est un document qui donne des informations sur la présence de plomb dans un logement. Il concerne uniquement les logements construits avant 1949. Le plomb est généralement présent dans les anciennes peintures de ces logements.</p>
          </li>
          <li>
            <p><strong>État des risques et pollutions </strong> : Le locataire d'un bien immobilier doit être informé par le bailleur des risques et pollutions (naturels, miniers, technologiques, sismiques, radon...) auxquelles ce bien est exposé. Pour ce faire, un diagnostic état des risques et pollutions fondé sur les informations transmises par le préfet du département, doit être annexé au bail.</p>
          </li>
          <li>
            <p><strong>État de l'installation intérieure d'électricité</strong> : Il s’agit d’un diagnostic qui donne un aperçu de la sécurité des installations électriques d'un logement. Il est obligatoire pour toutes les installations d’électricité qui ont plus de 15 ans.</p>
          </li>
          <li>
            <p> <strong>État de l'installation intérieure de gaz</strong> : Ce diagnostic donne un aperçu de la sécurité des installations de gaz d'un logement. Il est obligatoire pour toutes les installations de gaz qui ont plus de 15 ans.</p>
          </li>
        </ul>
        <p class="mt-5" style="font-weight: bold; color: #D8A727">D'autres documents doivent également être annexés au bail</p>
         <div class="hide-on-large my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
            <div class="hide-on-small my-4">
              <%= cl_image_tag "https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
            </div>
        <ul>
          <li>
            <p><%= link_to "Une notice informative", "https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000030649902", target: :blank %></p>
          </li>
          <li>
            <p><strong>État des lieux </strong> : Ce document décrit l'état du logement et de ses équipements à l'entrée dans les lieux du locataire. Un nouvel état des lieux sera dressé lorsque le locataire quittera le logement et rendra les clés. En cas de litige, la comparaison de ces 2 documents permettra d'établir les responsabilités de chaque partie.</p>
          </li>
          <li>
            <p><strong>Attestation d’assurance contre les risques locatifs</strong> : Le locataire est responsable des dommages qu'il cause à l'immeuble pendant la location. Il doit donc réparer les dégâts occasionnés. La loi l'oblige, dans la majorité des cas, à s'assurer pour prendre en charge ces risques : c'est la garantie risques locatifs. </p>
          </li>
          <li>
            <p><strong>Extrait du règlement de copropriété (pour les immeubles en copropriété)</strong> : Il s’agit d’un document écrit qui définit les règles de fonctionnement de l'immeuble et précise les droits et les obligations des copropriétaires. Les modifications du règlement de copropriété obéissent à des règles de vote distinctes selon leur nature. Le syndic de copropriété est responsable de son application.</p>
          </li>
          <li>
          <p><strong>Un inventaire et un état détaillé du mobilier</strong>.</p>
          </li>
        </ul>
        <h5 class="text-center my-5" style="color: #D8A727">2. Quittances de loyer
        </h5>
        <p>Pour chaque loyer réglé, le propriétaire (ou son mandataire) est tenu de transmettre <strong>gratuitement</strong> une quittance de loyer à son locataire qui en fait la demande.</p>
        <p>Aucuns frais liés à la gestion de l’avis d’échéance ou de la quittance ne peuvent être facturés.</p>
        <p>Le propriétaire n’est pas tenu d’envoyer une quittance à son locataire tous les mois mais il ne peut refuser de lui en délivrer une si le locataire les réclame.</p>
        <p>Les mentions obligatoires à figurer sur la quittance de loyer sont les suivantes :</p>
        <ul>
          <li class="mb-1">le nom, prénom et adresse du locataire,</li>
          <li class="mb-1">la période de location à laquelle elle se rapporte (ex : du 01/01/2020 au 31/01/2020),</li>
          <li class="mb-1">le détail des sommes versées par le locataire en distinguant le loyer et les charges,</li>
          <li class="mb-1">la date d’émission de la quittance,</li>
          <li>la signature du bailleur.</li>
        </ul>
        <h5 class="text-center my-5" style="color: #D8A727">3. Justificatifs de charges
        </h5>
        <p>Le contrat de bail peut prévoir le paiement des charges au réél ou au forfait.</p>
         <p class="mt-4" style="font-weight: bold; color: #D8A727">Charges au réél</p>
        <p>Pour les contrats de location prévoyant le paiement des charges au réel, le bailleur doit remettre au locataire qui en fait la demande les justificatifs des charges.</p>
        <p>Les charges récupérables auprès du locataire doivent être listées au sein du contrat de bail.</p>
        <p>Le montant des charges récupérées par le bailleur doit être justifié.</p>
        <p>La régularisation annuelle doit comparer le total des provisions versées par les locataires avec les dépenses effectives engagées par le propriétaire pendant l'année.</p>
        <p>Si les provisions sont supérieures aux dépenses réelles, le propriétaire doit reverser le trop-perçu au locataire et, dans le cas contraire, demander un complément.</p>
        <p>Un mois avant la régularisation annuelle, le propriétaire (ou bailleur) doit communiquer au locataire les éléments suivants :</p>
        <ul>
          <li class="mb-1">le décompte des charges locatives par nature de charges (électricité, eau chaude, eau froide, ascenseur...),</li>
          <li class="mb-1">le mode de répartition entre les locataires si le logement est situé dans un immeuble en copropriété,</li>
          <li>une note d'information sur les conditions de chauffage et de production d'eau chaude sanitaire collectifs.</li>
        </ul>
        <p>Durant les 6 mois qui suivent l'envoi du décompte, le bailleur doit tenir à la disposition du locataire l'ensemble des pièces justifiant la récupération des charges.</p>
         <p class="mt-4" style="font-weight: bold; color: #D8A727">Charges au forfait</p>
         <p>Si le bail prévoit un forfait de charges son montant est établi sur la base de la liste des <%= link_to "charges locatives" , "https://www.service-public.fr/particuliers/vosdroits/F947", target: :blank %>.</p>
         <p>Le montant du forfait pourra faire l’objet d’une révision au même titre que le loyer, soit en fonction de la variation annuelle de l’IRL.</p>
         <p>Si le système du forfait a été choisi, il ne sera pas possible de procéder à une régularisation ou compléments ultérieurs.</p>
       `);
    };
  });
</script>
<!-- FOOTER -->
<div class="pb-5" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <p class="border-top" style="font-style: italic; font-size: 12px">Cet article est un document simplifié. Il ne peut se substituer aux textes législatifs et réglementaires ainsi qu’aux instructions applicables en la matière. Pour une documentation complète <%= link_to "cliquer ici", "https://www.service-public.fr/particuliers/vosdroits/F2066", target: :blank %>.</p>
        <div class="border p-3 mt-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.1)">
          <h1 class="mb-4 mt-3 text-left" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h1>
          <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
          <ul class="mb-4">
            <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
            <li class="" style="color: rgb(100, 100, 100)">gratuit pour les locataires</li>
            <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
          </ul>
          <div class="d-flex justify-content-center">
            <%= link_to "Louer mon bien", root_path, class:"btn-transparent-bold"  %>
          </div>
        </div>
      </div>
    </div>
  </div>