<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-157808077-1');
</script>
<!-- LAPTOP VERSION -->
<div class="hide-on-small">
  <div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" %>')">
    <div >
      <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-2">Nos fiches pratiques</h3>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large">
  <div class="" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" %>')">
    <div class="text-center pt-3 d-flex justify-content-center">
      <%= link_to "Louer mon bien", new_contact_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
    </div>
    <div class="text-center pt-3 d-flex align-items-center justify-content-center" style="height: 36vh">
      <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-2">Nos fiches pratiques</h3>
    </div>
  </div>
</div>
<div class="container my-5">
  <% if user_signed_in? %>
    <% if current_user.statut == "Agent" || current_user.admin == true  %>
      <div class="row mb-4">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
            <div class="card-body">
              <h5 class="card-title mb-0">Le guide du consultant en immobilier </h5>
              <span style="font-size: 12px">Version du 02/02/2020</span>
              <p class="mt-2 card-text text-truncate" style="color: rgba(0, 0, 0, 0.5) ">Retrouvez la procédure détaillée des activités du consultant en immobilier Realbeez.
              </p>
              <%= link_to "Télécharger", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1601381688/Guide_du_consultant_immobilier_sept_2020_oz4pa3.pdf",class: "btn btn-transparent stretched-link" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-md-10 offset-md-1">
          <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
            <div class="card-body">
              <h5 class="card-title mb-0">Les antisèches du consultant en immobilier </h5>
              <span style="font-size: 12px">Version du 05/08/2020</span>
              <!--  <p class="mt-2 card-text text-truncate" style="color: rgba(0, 0, 0, 0.5) ">Retrouvez la liste des pièces à fournir pour préparer un dossier de location.
              </p> -->
              <!-- Laptop Version -->
              <div class="hide-on-small">
                <div class="mt-3">
                  <%= link_to "Astuces pour louer un bien", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1603346566/Astuces_location_Realbeez_lratpm.pdf",class: "btn btn-transparent" %>
                  <%= link_to "Liste des pièces à fournir", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597766173/Liste_des_pièces_à_fournir_slod4g.pdf",class: "btn btn-transparent ml-3" %>
                  <%= link_to "Nouveau bien à louer", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765216/Agent_Realbeez_-_1_Nouveau_bien_à_louer_k9dbwq.pdf",class: "btn btn-transparent ml-3" %>
                  <%= link_to "Visites / Location", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765216/Agent_Realbeez_-_2_Visite_Location_moi7bm.pdf",class: "btn btn-transparent ml-3" %>
                  <%= link_to "Le bail", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765215/Agent_Realbeez_-_3_BAIL_jzlvpm.pdf",class: "btn btn-transparent ml-3" %>
                </div>
              </div>
              <!-- Mobile Version -->
              <div class="hide-on-large">
                <div class="mt-3">
                  <p><%= link_to "Astuces pour louer un bien", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1603346566/Astuces_location_Realbeez_lratpm.pdf",class: "btn btn-transparent" %></p>
                  <p class=""><%= link_to "Liste des pièces à fournir", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597766173/Liste_des_pièces_à_fournir_slod4g.pdf",class: "btn btn-transparent" %></p>
                  <p class=""><%= link_to "Nouveau bien à louer", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765216/Agent_Realbeez_-_1_Nouveau_bien_à_louer_k9dbwq.pdf",class: "btn btn-transparent" %></p>
                  <p class=""><%= link_to "Visites / Location", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765216/Agent_Realbeez_-_2_Visite_Location_moi7bm.pdf",class: "btn btn-transparent" %></p>
                  <p class=""><%= link_to "Le bail", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765215/Agent_Realbeez_-_3_BAIL_jzlvpm.pdf",class: "btn btn-transparent" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- <div class="row mb-4" style="color: white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1508921340878-ba53e1f016ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Le guide de l'utilisateur </h5>
            <span style="font-size: 12px">Version du 02/02/2020</span>
            <p class="mt-2 card-text text-truncate" style="color: white ">Retrouvez une présentation détaillée de notre plateforme et de son utilisation.
            </p>
            <%#= link_to "Fiche détaillée", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1584805262/Guide_de_l_utilisateur_version_02022020_vab4cn.pdf",class: "btn btn-transparent-yellow" %>
            <%#= link_to "Résumé", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1597765217/Propriétaire_-_Guide_al8afv.pdf",class: "btn btn-transparent-yellow ml-3" %>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row mb-4" style="color: white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1519643225200-94e79e383724?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Les documents à remettre par le propriétaire lors d’une location immobilière
            </h5>
            <span style="font-size: 12px">Publié le 28/03/2020</span>
            <br>
            <br>
            <br>
            <%#= link_to "Plus d'information", documents_contrat_bail_path,class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color:white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Utilisez gratuitement nos outils de gestion
            </h5>
            <span style="font-size: 12px">Publié le 16/03/2020</span>
            <br>
            <br>
            <br>
            <%#= link_to "Plus d'information", outils_path,class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color: white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1560520653-9e0e4c89eb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">6 conseils pour investir dans l'immobilier locatif
            </h5>
            <span style="font-size: 12px">Publié le 17/02/2020</span>
            <br>
            <br>
            <br>
            <%#= link_to "Plus d'information", investissement_locatif_path,class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color: white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1564939558297-fc396f18e5c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Quelles sont les charges déductibles des revenus fonciers ?
            </h5>
            <span style="font-size: 12px">Publié le 04/02/2020</span>
            <br>
            <br>
            <br>
            <%#= link_to "Plus d'information", charges_deductibles_path,class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color:white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1521791055366-0d553872125f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Modèles de contrats de location</h5>
            <span style="font-size: 12px">Publié le 31/01/2020</span>
            <p class="mt-2 card-text text-truncate" style="">Téléchargez gratuitement nos modèles de contrats de location conformes à la loi Alur.
            </p>
            <%#= link_to "Location vide", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1580301673/Contrat_de_location_non-meublé_h9sbnl.pdf",class: "btn btn-transparent-yellow" %>
            <%#= link_to "Location meublé", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1582689444/Contrat_de_location_meublé_qy5pry.pdf",class: "btn btn-transparent-yellow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color: white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Information utile sur le statut d’auto-entrepreneur
            </h5>
            <span style="font-size: 12px">Publié le 27/12/2019</span>
            <br>
            <br>
            <br>
            <%#= link_to "Plus d'information", statut_auto_entrepreneur_path,class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" style="color:white">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="card" style="border-radius: 3px; box-shadow: 0 0 8px rgba(0,0,0,0.1)">
        <div class="" style="height:; border-radius: 3px; ; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%#= cl_image_path "https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" %>')">
          <div class="card-body">
            <h5 class="card-title mb-0">Demandez le statut d’auto-entrepreneur et devenez consultant en immobilier</h5>
            <span style="font-size: 12px">Publié le 23/12/2019</span>
            <br>
            <br>
            <br>
            <%#= link_to "Télécharger gratuitement", "https://res.cloudinary.com/dvfwroq5k/image/upload/fl_attachment/v1581299444/Devenir_auto-entrepreneur_rlzjtm.pdf",class: "btn btn-transparent-yellow stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 border p-3 mt-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.1)">
        <h1 class="mb-4 mt-3 text-left" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h1>
        <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
        <ul class="mb-4">
          <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
          <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
          <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
        </ul>
        <div class="d-flex justify-content-center">
          <%#= link_to "Louer mon bien", root_path, class:"btn-transparent-bold"  %>
        </div>
      </div>
    </div>
  </div> -->
</div>