<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-157808077-1');
</script>
<!-- LAPTOP VERSION -->
<div class="hide-on-small" style="height: 689px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1471623432079-b009d30b6729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
  <div class="text-center pt-3 hide-on-large">
    <%= link_to "Louer mon bien", new_contact_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
  <div class="container d-flex align-items-center" style="height: 750px">
    <div class="border" style="border-radius: 5px; background-color: white; padding: 30px 30px">
      <h1 style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire</h1>
      <h1 class="mb-4" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">pour votre bien immobilier</h1>
      <!--   <h3 class="px-2" style="color: white; font-weight:bold">Et si le meilleur agent immobilier était votre voisin de quartier...</h3> -->
      <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
      <ul class="mb-4">
        <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
        <li class="" style="color: rgb(100, 100, 100)">gratuit pour les locataires</li>
        <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
      </ul>
      <p class="mb-0">Laissez-nous vos coordonnées et nous vous</p>
      <p class="mb-2">contacterons dans les plus brefs délais.</p>
      <!-- <nav class="navbar navbar-light p-0">
        <%#= form_for :search, defaults: { required: false }, url:profiles_path, method: "GET", html: { class: '', style: "width: 100%" } do |f| %>
          <section style=" text-align:center;">
            <%#= f.text_field :query, label: false, placeholder: "Entrez votre adresse", input_html: {value: ""}, style: "height: 2.5em; left: 0; right: 0; padding-left: 16px; opacity: 0.8" %>
          </section>
          <section style=" text-align:right;">
            <%#= f.submit "Let's go!", class: "btn-yellow-mustard-big mt-4" %>
          </section>
        <%# end %>
      </nav> -->
      <%= simple_form_for [@contact] do |f| %>
        <div class="d-flex">
          <%= f.input :prenom, label: false, placeholder: "Prénom" %>
          <%= f.input :nom, label: false, placeholder: "Nom" %>
        </div>
        <div class="d-flex">
          <%= f.input :ville, label: false, placeholder: "Ville" %>
          <%= f.input :telephone, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <div class="d-flex justify-content-end">
          <%= f.submit "Envoyer", class: "btn btn-yellow-mustard" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- <div class="d-flex justify-content-around" style=''>
    <i class="arrow down" style="width: 0;height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent; border-top: 20px solid white; position: absolute; bottom: 10px"></i>
  </div> -->
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large" style="height: 300px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1471623432079-b009d30b6729?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
  <div class="text-center pt-3 hide-on-large">
    <%= link_to "Louer mon bien", new_contact_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 200px">
    <h3 style="color: white; font-family: simply rounded; font-size: 24px; padding-left: 14px; padding-right: 14px" class="text-center">Trouvez rapidement un locataire pour votre bien immobilier</h3>
  </div>
</div>
<div class="hide-on-large">
  <div class="d-flex align-items-center justify-content-center py-5 px-3" style="width: 100%; background-color: white">
    <div class="" style="background-color: white">
      <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
      <ul class="mb-4">
        <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
        <li class="" style="color: rgb(100, 100, 100)">gratuit pour les locataires</li>
        <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
      </ul>
      <p class="mb-0">Laissez-nous vos coordonnées et nous vous</p>
      <p class="mb-2">contacterons dans les plus brefs délais.</p>
      <%= simple_form_for [@contact] do |f| %>
        <div class="d-flex">
          <%= f.input :prenom, label: false, placeholder: "Prénom" %>
          <%= f.input :nom, label: false, placeholder: "Nom" %>
        </div>
        <div class="d-flex">
          <%= f.input :ville, label: false, placeholder: "Ville" %>
          <%= f.input :telephone, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <div class="d-flex justify-content-end">
          <%= f.submit "Envoyer", class: "btn btn-yellow-mustard" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- BACKGROUND AS VIDEO -->
<!-- <div class="" style="">
  <div class="home-video-wrapper d-flex justify-content-around align-items-center" style="height: 100vh">
    <%#= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video", style:"width: 100vw; height: 100vh; position: absolute; object-fit: cover; top: 0; z-index: -2" %>
    <div class="" style="">
      <div>
        <h3 class="px-2" style="color: white; font-weight:bold">Et si le meilleur agent immobilier était votre voisin de quartier...</h3>
        <p class="px-2" style="color: white">Trouver un agent <strong>Realbeez</strong> près de chez vous et (re)louer rapidement votre bien immobilier.</p> -->
<!-- Search_bar -->
<!--    <nav class="navbar navbar-light justify-content-around">
          <%#= form_for :search, defaults: { required: false }, url:profiles_path, method: "GET", html: { class: '' } do |f| %>
            <section style=" text-align:center;">
              <%#= f.text_field :query, label: false, placeholder: "Entrer votre adresse", input_html: {value: ""}, style: "width: 19em; border-radius: 9999px; border-style: none; height: 2.5em; margin-left: auto; margin-right: auto; left: 0; right: 0; padding-left: 16px; opacity: 0.8" %>
            </section>
          <%# end %>
        </nav>
      </div>
      <div class="d-flex justify-content-around" style=''>
        <i class="arrow down" style="width: 0;height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent; border-top: 20px solid white; position: absolute; bottom: 10px"></i>
      </div>
    </div>
  </div>
</div> -->
<%= render "shared/choisir_realbeez" %>
<%= render "shared/fonctionnement" %>
<%= render "shared/agent_home" %>
<%#= render "shared/annonce_home" %>