<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-157808077-1');
</script>
<!-- LAPTOP VERSION -->
<div class="hide-on-small">
  <div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1560520653-9e0e4c89eb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80" %>')">
    <div >
      <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-1">6 conseils pour investir dans l’immobilier locatif</h3>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large">
  <div class="" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1560520653-9e0e4c89eb11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80" %>')">
    <div class="text-center pt-3 d-flex justify-content-center">
      <%= link_to "Louer mon bien", new_contact_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
    </div>
    <div class="text-center pt-3 d-flex align-items-center justify-content-center" style="height: 36vh">
      <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-4">6 conseils pour investir dans l’immobilier locatif</h3>
    </div>
  </div>
</div>
<div class="pb-5" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <p style="font-size: 12px">Publié le 17/02/2020</p>
        <p class="mt-3 my-5 pt-3">Investir dans l’immobilier locatif consiste à acheter un bien immobilier et de le mettre en location afin de percevoir des revenus complémentaires et de se constituer un patrimoine.
          Avant de vous lancer faîtes des recherches approfondies, prenez votre temps et lisez attentivement nos 6 conseils pour réussir votre investissement locatif.
        </p>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">1. Recherchez un bien offrant un rendement locatif élevé tout en mesurant les risques
        </h5>
        <p>
          Investissez dans une région qui bénéficie d'un retour sur investissement important. A titre d’exemple, le rendement annuel brut locatif moyen à Paris est de 3,7% contre 6,7% à Marseille. Pour obtenir le meilleur rendement locatif, vous aurez besoin d’effectuer des recherches poussées et une analyse approfondie afin de bien connaitre le marché.
        </p>
        <p class="border py-2 px-3 border-info">
          <strong>Rendement locatif brut</strong> = loyer annuel hors charges / prix de revient de l’immeuble frais de notaire inclus
        </p>
        <p>
          Les biens immobiliers à fort rendement locatif se trouvent souvent dans des villes moyennes ou dans des zones tendues dans lesquelles le marché de l’immobilier locatif est moins dynamique. Ainsi, trouver un locataire solvable peut s’avérer plus difficile que dans les grandes métropoles caractérisées par un marché dynamique mais offrant un rendement locatif plus faible.
        </p>
        <p>
          Un retour sur investissement élevé signifie que l’investissement est plus risqué. Il faudra faire preuve de prudence ! Effectuez une analyse approfondie du marché afin de comprendre pourquoi le bien immobilier offre un rendement si important et pourquoi il est vendu en dessous du prix du marché.
        </p>
        <p>
          La meilleure façon de limiter vos risques et d'augmenter vos chances de succès est de vous assurer que votre apport personnel est suffisamment important pour que vos flux de trésorerie soient positifs. C’est-à-dire que le montant des mensualités de votre prêt immobilier et autres dépenses restent inférieurs à la somme des loyers mensuels perçus.
        </p>
        <p>
          Bien entendu, il faudra également prendre en compte la situation géographique du bien afin d’assurer une mise en location rapide et une potentielle appréciation de valeur.
        </p>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">2. Trouvez le bon emplacement
        </h5>
        <p>
          Choisir soigneusement le quartier et l’emplacement de votre investissement locatif est primordial. Il doit s'agir d'un secteur où la demande locative est la plus forte possible et caractérisé par un accroissement de population.
        </p>
        <div class="hide-on-small my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <div class="hide-on-large my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <p>
          Il y a 3 règles d’or pour investir dans l’immobilier : l’emplacement, l’emplacement, l’emplacement.
          Recherchez des biens à proximité des transports en commun, des écoles et des commerces.
        </p>
        <p>
          Si vous investissez dans de petites surfaces, les logements à proximité des universités sont des endroits idéaux car la plupart des étudiants louent pour toute la durée de leurs études à l'université et leurs parents fournissent généralement des garanties personnelles sur le loyer.
        </p>
        <p>
          En revanche, si votre investissement locatif est une surface plus importante (4 pièces par exemple) il y a de fortes chances pour que votre bien soit occupé par une famille. Ainsi, privilégiez les emplacements à proximité des établissements scolaires avec un bon niveau de sécurité.
        </p>
        <p>
          Bien choisir l’emplacement du bien sera d’autant plus important si vous investissez dans un bien locatif vacant. En effet, il sera essentiel de trouver des locataires de qualité le plus rapidement possible. Un bien locatif vacant peut rapidement avoir un impact sur votre trésorerie.
        </p>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">3. Investissez dans un bien immobilier sans rénovation structurelle
        </h5>
        <p>
          Surtout si vous débutez dans l’investissement locatif, évitez les biens nécessitant beaucoup de travaux. Évitez les rénovations structurelles telles que la construction de murs de fondation, travaux d’électricité, travaux importants de plomberie et de toiture.
        </p>
        <p>
          Même si vous faites appel à des professionnels pouvant chiffrer la nature et le montant des travaux, l’investissement dans un bien à rénover reste risqué. Vous n’êtes pas à l’abri d’une déconvenue qui s’ajouterait au montant de votre achat et des travaux, risquant d’alourdir l’enveloppe globale.
        </p>
        <div class="hide-on-small my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <div class="hide-on-large my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <p>
          Choisissez plutôt d’investir dans des biens sans travaux ou nécessitant au plus quelques travaux de rafraichissement tels que la peinture ou le changement des sols.
        </p>
        <p>
          Posséder un bien immobilier est une forme active d'investissement et nécessite du temps et du dévouement. Être propriétaire n'est pas pour tout le monde. Vous vous apercevrez assez vite que cela implique beaucoup d’effort personnel pour identifier, analyser, acheter et gérer un bien locatif de qualité.
        </p>
        <p>
          Bien qu'il existe des alternatives pour sous-traiter certaines de ces tâches, l’investissement locatif est rarement 100% passif et comprend toujours des risques.
        </p>
        <p>
          Si vous n’avez pas le temps de vous charger de la recherche de votre locataire, <%= link_to " faîtes appel aux services de Realbeez", new_contact_path %>.
        </p>
        <div class="border p-3 mt-4" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.1)">
          <h1 class="mb-4 mt-3 text-left" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h1>
          <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
          <ul class="mb-4">
            <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
            <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
            <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
          </ul>
          <div class="d-flex justify-content-center">
            <%= link_to "Louer mon bien", root_path, class:"btn-transparent-bold"  %>
          </div>
        </div>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">4. Ne laissez pas vos émotions influencer votre décision d'investissement
        </h5>
        <p>
          Si votre expérience immobilière à ce jour se résume à l'acquisition de votre résidence personnelle, gardez bien à l'esprit que cet achat avait des fins et des critères différents de votre investissement dans l’immobilier locatif.
        </p>
        <p>
          L'achat d'une maison pour vous et votre famille est une entreprise émotionnelle. Vous «aimez» la grande cuisine, votre conjoint est «fou» de la chambre principale, les enfants sont «tellement excités» par la taille du jardin…
        </p>
        <div class="hide-on-small my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1517607648415-b431854daa86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1792&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <div class="hide-on-large my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1517607648415-b431854daa86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1792&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <p>
          Avec l'investissement immobilier locatif, tout est une question de chiffres ! Vous pouvez considérer investir seulement si toutes les conditions (ou presque) sont réunies.
          Il conviendra de considérer les éléments suivants afin de pouvoir prendre votre décision : le prix d'achat, les coûts de rénovation/rafraichissement, les revenus locatifs attendus, l’endettement et le montant des mensualités à rembourser et les conditions du marché.
        </p>
        <p>
          Achetez en fonction des rendements actuels et non d'une appréciation future de la valeur du bien. Vous devez baser votre décision d’investissement sur les flux de trésorerie au moment de l’achat et non pas sur une évaluation future du prix de l’immobilier. Les meilleures offres font de l'argent dès le premier jour et l'appréciation à long terme est un bonus.
        </p>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">5. Planifiez soigneusement votre budget et mettez des fonds de côté pour les dépenses futures
        </h5>
        <p>
          En tant que propriétaire bailleur, vous devrez engager des dépenses afin de maintenir la valeur de votre bien, vous devez donc planifier en conséquence. La plus évidente de ces dépenses est l'entretien de la propriété. Cependant, vous devez prévoir d'autres coûts tels que les dépenses de vacance locative qui sont souvent négligées.
        </p>
        <div class="hide-on-small my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <div class="hide-on-large my-4">
          <%= cl_image_tag "https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
        </div>
        <p>
          Dans un monde parfait votre bien immobilier serait loué en continu sans aucune interruption, cependant la réalité est que vous aurez des périodes où votre logement sera vacant. Pensez bien à prévoir des fonds afin de rembourser votre emprunt pendant ces périodes d’inoccupation.
        </p>
        <p>
          Vous devrez également assumer d’autres dépenses courantes telles que la réparation de robinets, toilettes ou autres réparations mineures.
        </p>
        <p>
          D’autres dépenses plus lourdes, dites dépenses en capital, telle que la réparation de la toiture ou le rafraichissement de la façade devront également être supporté par le propriétaire. Ce type de dépenses peut s’élever à des dizaines de milliers d’euros, il est donc important de prévoir un budget et de mettre de l'argent de côté régulièrement pour les couvrir.
        </p>
        <h5 class="text-center mt-3 my-5 pt-3" style="color: #D8A727">6. Sélectionnez le bon locataire
        </h5>
        <p>
          En tant que propriétaire bailleur mettant son bien immobilier à la disposition d’un locataire, vous recherchez un candidat qui saura respecter votre logement, en faisant à la fois preuve de sérieux et de solvabilité.
        </p>
        <p>
          Afin de s’assurer de la solvabilité du candidat, le propriétaire peut demander les documents suivants :
        </p>
        <ul>
          <li>
            Une pièce d’identité ;
          </li>
          <li>
            Le contrat de travail et les trois derniers bulletins de salaire (ou à défaut une attestation de l’employeur) ;
          </li>
          <li>
            L’avis d’imposition le plus récent ;
          </li>
          <li>
            Les trois dernières quittances de loyer du logement précédemment occupé ;
          </li>
          <li>
            En cas de recours à un garant, des documents identiques peuvent être demandés à la personne se portant caution pour le locataire, en complément de la signature d’un acte de caution solidaire.
          </li>
        </ul>
        <p>
          Concernant la solvabilité d’un locataire, on estime que le loyer ne doit pas dépasser entre 25 % et 33 % de ses revenus (ou de son garant).
        </p>
        <p>
          <%= link_to "Realbeez vous accompagne dans la recherche de votre nouveau locataire.", new_contact_path  %>
        </p>
        <p class="mt-5 border-top" style="font-style: italic; font-size: 12px">Ce document est fourni à des fins informatives seulement. Les opinions et perspectives exprimées dans ce document ne prennent pas en considération les objectifs de placement, les besoins, les restrictions, ni les circonstances propres à un investisseur particulier. Par conséquent, elles ne devraient pas servir de base à toute recommandation de placement précise.</p>
        <div class="border p-3 mt-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.1)">
          <h1 class="mb-4 mt-3 text-left" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h1>
          <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
          <ul class="mb-4">
            <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
            <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
            <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
          </ul>
          <div class="d-flex justify-content-center">
            <%= link_to "Louer mon bien", root_path, class:"btn-transparent-bold"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>