<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-157808077-1');
</script>
<!-- LAPTOP VERSION -->
<div class="hide-on-small">
  <div class="container d-flex align-items-center justify-content-center" style="height: 680px">
    <div class="border" style="border-radius: 5px; background-color: white; padding: 30px 30px; box-shadow: 1px 1px 5px rgba(0,0,0,0.1) ">
      <h1 style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire</h1>
      <h1 class="mb-4" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">pour votre bien immobilier</h1>
      <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
      <ul class="mb-4">
        <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
        <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
        <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
      </ul>
      <p class="mb-0">Laissez-nous vos coordonnées et nous vous</p>
      <p class="mb-2">contacterons dans les plus brefs délais.</p>
      <%= simple_form_for [@contact] do |f| %>
        <div class="d-flex">
          <%= f.input :prenom, label: false, placeholder: "Prénom" %>
          <%= f.input :nom, label: false, placeholder: "Nom" %>
        </div>
        <div class="d-flex">
          <%= f.input :ville, label: false, placeholder: "Ville" %>
          <%= f.input :telephone, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <%= recaptcha_tags %>
        <div class="d-flex justify-content-end">
          <%= f.submit "Envoyer", class: "btn btn-yellow-mustard" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large">
  <div class="d-flex align-items-center justify-content-center" style="">
    <div class="" style=" background-color: #F8F9FA; padding: 30px 30px">
      <h3 class="my-4" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h3>
      <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
      <ul class="mb-4">
        <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
        <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
        <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
      </ul>
      <p class="mb-0">Laissez-nous vos coordonnées et nous vous</p>
      <p class="mb-2">contacterons dans les plus brefs délais.</p>
      <%= simple_form_for [@contact] do |f| %>
        <div class="d-flex">
          <%= f.input :prenom, label: false, placeholder: "Prénom" %>
          <%= f.input :nom, label: false, placeholder: "Nom" %>
        </div>
        <div class="d-flex">
          <%= f.input :ville, label: false, placeholder: "Ville" %>
          <%= f.input :telephone, label: false, placeholder: "Téléphone" %>
        </div>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <%= recaptcha_tags %>
        <div class="d-flex justify-content-end">
          <%= f.submit "Envoyer", class: "btn btn-yellow-mustard" %>
        </div>
      <% end %>
    </div>
  </div>
</div>