<% if @contrat.user_id == current_user.id || current_user.admin == true || @contrat.locataire_candidature.annonce.agent_user_id == current_user.id.to_s %>
  <div id="" class="container" style="color:black;">
    <div class="hide-on-small mt-5 pt-5">
    </div>
    <div class="row text-justify" >
      <div class="col-sm-12 col-lg-10 offset-lg-1 px-5" style="background-color: white; box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 5px">
        <div class="text-center border py-3 my-5 px-3" style="">
          <h3 class=""><strong>Contrat de location</strong></h3>
          <p class="mb-0 ">Soumis au titre Ier de la loi du 6 juillet 1989 tendant à améliorer les rapports locatifs et portant</p>
          <p class="">modification de la loi n° 86-1290 du 23 décembre 1986</p>
          <% if @contrat.locataire_candidature.annonce.meublé == "Non meublé" || @contrat.locataire_candidature.annonce.meublé == "" %>
            <h5 class="mb-0"><strong>LOCAUX VIDES A USAGE D’HABITATION</strong></h5>
          <% elsif @contrat.locataire_candidature.annonce.meublé == "Meublé" %>
            <h5 class="mb-0"><strong>LOCAUX MEUBLES A USAGE D'HABITATION</strong></h5>
          <% end %>
        </div>
        <div class="" style="font-size: 12px">
          <p class=""><strong>Champ du contrat type </strong>: le présent contrat type de location est applicable aux locations et aux colocations de logement nu et qui constitue la résidence principale du preneur, à l’exception :</p>
          <ul>
            <li>
              <p class="">des colocations formalisées par la conclusion de plusieurs contrats entre les colocataires et le bailleur ;</p>
            </li>
            <li>
              <p class="">des locations de logements faisant l’objet d’une convention passée en application de l’article L.351-2 ou de l’article L. 321-8 du code de la construction et de l’habitation ;</p>
            </li>
            <li>
              <p class="">des locations de logement appartenant à un organisme d’habitation à loyer modéré ne faisant pas l’objet d’une convention passée en application de l’article L.351-2 précité.</p>
            </li>
          </ul>
          <p class=""><strong>En conséquence :</strong></p>
          <ul>
            <li>
              <p class="">le présent contrat type de location contient uniquement les clauses essentielles du contrat dont la législation et la réglementation en vigueur au jour de sa publication imposent la mention par les parties dans le contrat. Il appartient cependant aux parties de s'assurer des dispositions applicables au jour de la conclusion du contrat ;</p>
            </li>
            <li>
              <p class="">au-delà de ces clauses, les parties sont également soumises à l'ensemble des dispositions légales et réglementaires d'ordre public applicables aux baux d'habitation sans qu'il soit nécessaire de les faire figurer dans le contrat et qui sont rappelées utilement dans la notice d'information qui doit être jointe à chaque contrat ;</p>
            </li>
            <li>
              <p class="">les parties sont libres de prévoir dans le contrat d'autres clauses particulières, propres à chaque location, dans la mesure où celles-ci sont conformes aux dispositions législatives et réglementaires en vigueur. Les parties peuvent également convenir de l'utilisation de tout autre support pour établir leur contrat, dans le respect du présent contrat type.</p>
            </li>
          </ul>
        </div>
        <%= simple_form_for [@locataire_candidature, @contrat] do |f| %>
          <%#= f.input :type_habitat_immeuble, label: false, collection: ["collectif", "individuel"], as: :radio_buttons %>
          <h5 class="mt-5 my-4"><strong>I. Désignation des parties</strong></h5>
          <p class="">Le présent contrat est conclu entre les soussignés :</p>
          <div>
            <p class="mb-1">Qualité du bailleur :   </p>
            <div class="ml-3">
              <%= f.input :qualite_bailleur, collection: ["Personne physique", "Personne morale"], as: :radio_buttons, label: "" %>
            </div>
          </div>
          <p class="mt-4"><strong>Nom et prénom du bailleur : </strong>  </p>
          <div class="col-12 col-lg-6">
            <%= f.input :nom_bailleur, label: false %>
          </div>
          <p class="">Dénomination (si personne morale) :  </p>
          <div class="col-12 col-lg-6">
            <%= f.input :denomination_bailleur, label: false %>
          </div>
          <p class="mb-1" style="font-size: 14px">Société civile constituée exclusivement entre parents et alliés jusqu’au quatrième degré inclus : </p>
          <div class="ml-3" style="font-size: 14px">
            <%= f.input :societe_civile, collection: ["Oui", "Non"], as: :radio_buttons, label: "" %>
          </div>
          <p class="">Adresse :   </p>
          <div class="col-12 col-lg-6">
            <%= f.input :adresse_bailleur, label: false %>
          </div>
          <p class="">Adresse email (facultatif) :    </p>
          <div class="col-12 col-lg-6">
            <%= f.input :email_bailleur, label: false %>
          </div>
          <p class="">désigné (s) ci-après <strong>« le bailleur »</strong> ;</p>
          <p class="mb-1">Le cas échéant, représenté par un mandataire : </p>
          <div class="ml-3" style="">
            <%= f.input :mandataire, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, label: "" %>
          </div>
          <p class="">Nom et prénom du mandataire : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :nom_mandataire, label: false %>
          </div>
          <p class="">Dénomination (si personne morale) : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :denomination_mandataire, label: false %>
          </div>
          <p class="">Adresse : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :adresse_mandataire, label: false %>
          </div>
          <p class="">Activité exercée :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :activite_mandataire, label: false %>
          </div>
          <p class="">N° et lieu de délivrance de la carte professionnelle* :  </p>
          <div class="col-12 col-lg-6">
            <%= f.input :carte_pro, label: false %>
          </div>
          <p class="" style="font-size: 12px">*Mention obligatoire s’appliquant aux professionnels exerçant une activité mentionnée à l’article 1er de la loi n° 70-9 du 2 janvier 1970 réglementant les conditions d’exercice des activités relatives à certaines opérations portant sur les immeubles et les fonds de commerce.</p>
          <p class="">Le cas échéant, nom et adresse du garant : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :garant, label: false %>
          </div>
          <p class="mt-4"><strong>Nom et prénom du ou des locataires</strong>, adresse email (facultatif)], : </p>
          <div class="col-12 col-lg-6">
            <% nb_locataire = @contrat.nom_locataire.count %>
            <% count = 0 %>
            <% for index in 0...(nb_locataire) %>
              <%= f.input :nom_locataire, label: false, include_hidden: false, input_html: {multiple: true, value: @contrat.nom_locataire[count]} %>
              <% count += 1 %>
            <% end %>
          </div>
          <p class="">désigné(s) ci-après <strong>« le locataire »</strong> ;</p>
          <p class="">Il a été convenu ce qui suit :</p>
          <h5 class="mt-5 mb-4"><strong>II. Objet du contrat</strong></h5>
          <p class="">Le présent contrat a pour objet la location d’un logement ainsi déterminé :</p>
          <p class=""><strong>A. Consistance du logement</strong></p>
          <p class="">Adresse du logement [exemples : adresse / bâtiment / étage / porte etc.] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :adresse_logement, label: false %>
          </div>
          <p class="mb-1">Type d’habitat, Immeuble : </p>
          <div class="ml-3" style="">
            <%= f.input :type_habitat_immeuble, collection: ["collectif", "individuel"], as: :radio_buttons, label: "" %>
          </div>
          <p class="my-1">/</p>
          <div class="ml-3" style="">
            <%= f.input :type_habitat, collection: ["mono propriété", "copropriété"], as: :radio_buttons, label: "" %>
          </div>
          <p class="mb-1">Période de construction : </p>
          <div class="ml-3" style="">
            <%= f.input :periode_construction, collection: ["avant 1949", "de 1949 à 1974", "de 1975 à 1989", "de 1989 à 2005", "depuis 2005" ], as: :radio_buttons, label: "" %>
          </div>
          <p class="">- surface habitable : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :surface, label: false %>
          </div>
          <p class="">- nombre de pièces principales : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :nb_piece, label: false %>
          </div>
          <p class="mb-1">- Autres parties du logement : </p>
          <div class="ml-3 mb-1" style="">
            <%= f.input :autre_partie_logement, collection: ["grenier", "comble", "terrasse", "balcon", "loggia", "jardin", "Autres" ], as: :check_boxes, label: "", include_hidden: false %>
          </div>
          <p>Si autres : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :autre_autre_partie_logement, label: false %>
          </div>
          <p class="">Éléments d’équipements du logement : cuisine équipée, détail des installations sanitaires ... :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :equipement, label: false %>
          </div>
          <p class="mb-0">Modalité de production de chauffage : </p>
          <p class="mb-1" style="font-size: 12px">*Si chauffage collectif, préciser les modalités de répartition de la consommation du locataire.</p>
          <div class="ml-3" style="">
            <%= f.input :chauffage, collection: ["individuel", "collectif"], as: :radio_buttons, label: "" %>
          </div>
          <p class="mb-0" >Modalité de production d’eau chaude sanitaire : </p>
          <p class="mb-1" style="font-size: 12px">*Si chauffage collectif, préciser les modalités de répartition de la consommation du locataire.</p>
          <div class="ml-3" style="">
            <%= f.input :eau_chaude, collection: ["individuel", "collectif"], as: :radio_buttons, label: "" %>
          </div>
          <p class="mb-1"><strong>B. Destination des locaux</strong> : </p>
          <div class="ml-3" style="">
            <%= f.input :destination_locaux, collection: ["usage d'habitation", "usage mixte professionnel et d'habitation"], as: :radio_buttons, label: "" %>
          </div>
          <p class=""><strong>C. Désignation des locaux et équipements accessoires de l’immeuble à usage privatif du locataire : </strong></p>
          <div class="col-12 col-lg-6">
            <%= f.input :cave, label: "cave n°" %>
            <%= f.input :cave_detail, label: false %>
          </div>
          <div class="col-12 col-lg-6">
            <%= f.input :parking, label: "parking n°" %>
            <%= f.input :parking_detail, label: false %>
          </div>
          <div class="col-12 col-lg-6">
            <%= f.input :garage, label: "garage n°" %>
            <%= f.input :garage_detail, label: false %>
          </div>
          <div class="col-12 col-lg-6">
            <%= f.input :autre_partie_privative, label: "Autres : " %>
            <%= f.input :autre_partie_privative_detail, label: false %>
          </div>
          <p class="mt-3 mb-1"><strong>D. Le cas échéant, énumération des locaux, parties, équipements et accessoires de l’immeuble à usage commun</strong> </p>
          <div class="ml-3" style="">
            <%= f.input :partie_commune, collection: ["garage à vélo", "ascenseur", "espaces verts", "aires et équipements de jeux", "laverie", "local poubelle", "gardiennage", "autres" ], as: :check_boxes, label: "", include_hidden: false %>
          </div>
          <p>Si autres :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :autre_partie_commune, label: false %>
          </div>
          <p class="">E. Équipement d’accès aux technologies de l’information et de la communication [modalités de réception de la télévision dans l’immeuble, modalités de raccordement internet etc.] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :equipement_technologique, label: false %>
          </div>
          <h5 class="mt-5 my-4"><strong>III. Date de prise d’effet et durée du contrat</strong></h5>
          <p class="">La durée du contrat et sa date de prise d’effet sont ainsi définies :</p>
          <p class="">A. Date de prise d’effet du contrat : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :date_prise_effet, label: false %>
          </div>
          <p class="">B. Durée du contrat : </p>
          <div class="ml-3" style="">
            <%= f.input :duree_contrat, collection: ["3 ans", "6 ans", "Durée réduite :"], as: :radio_buttons, label: "" %>
            <div class="col-12 col-lg-6">
              <%= f.input :nb_duree_reduite, label: false %>
            </div>
          </div>
          (durée minimale d’un an lorsqu’un événement précis* le justifie)
          <p class="" style="font-size: 12px">*Limité aux événements précis qui justifient que le bailleur personne physique ait à reprendre le local pour des raisons professionnelles ou familiales.</p>
          <p class="">C. Le cas échéant, événement et raison justifiant la durée réduite du contrat de location :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :justif_duree_reduite, label: false %>
          </div>
          <p class="">En l’absence de proposition de renouvellement du contrat, celui-ci est, à son terme, reconduit tacitement pour 3 ou 6 ans et dans les mêmes conditions. Le locataire peut mettre fin au bail à tout moment, après avoir donné congé. Le bailleur, quant à lui, peut mettre fin au bail à son échéance et après avoir donné congé, soit pour reprendre le logement en vue de l’occuper lui-même ou une personne de sa famille, soit pour le vendre, soit pour un motif sérieux et légitime.</p>
          <!--  -->
          <!-- Chapitre 4 -->
          <h5 class="mt-5 my-4"><strong>IV. Conditions financières</strong></h5>
          <p class="">Les parties conviennent des conditions financières suivantes :</p>
          <p class="">A. Loyer</p>
          <p class="">1° Fixation du loyer initial :</p>
          <p class="">a) Montant du loyer mensuel* en € : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :loyer_mensuel, label: false %>
          </div>
          <p class="" style="font-size: 12px">*Lorsqu’un complément de loyer est appliqué, le loyer mensuel s’entend comme la somme du loyer de base et de ce complément.</p>
          <p class="mb-0 ">b) Le cas échéant, modalités particulières de fixation initiale du loyer applicables dans les zones tendues*</p>
          <p class="" style="font-size: 12px">*Zones d’urbanisation continue de plus de 50 000 habitants où il existe un déséquilibre marqué entre l’offre et la demande de logements, entraînant des difficultés sérieuses d’accès au logement sur l’ensemble du parc résidentiel telles que définies par décret.</p>
          <p class="mb-1">- le loyer du logement objet du présent contrat est soumis au décret fixant annuellement le montant maximum d’évolution des loyers à la relocation :   </p>
          <div class="ml-3" style="">
            <%= f.input :decret_evolution_loyer, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, label: "" %>
          </div>
          <p class="mb-1">- le loyer du logement objet du présent contrat est soumis au loyer de référence majoré fixé par arrêté préfectoral :
          </p>
          <div class="ml-3" style="">
            <%= f.input :loyer_reference, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, label: "" %>
          </div>
          <p class="">- montant du loyer de référence (€/m2) :
            <div class="col-12 col-lg-6">
              <%= f.input :montant_loyer_reference, label: false %>
            </div>
          </p>
          <p>- montant du loyer de référence majoré (€/m2) :
            <div class="col-12 col-lg-6">
              <%= f.input :montant_loyer_majore, label: false %>
            </div>
          </p>
          <p class="">- le cas échéant, complément de loyer [si un complément de loyer est prévu, indiquer le montant du loyer de base, nécessairement égal au loyer de référence majoré, le montant du complément de loyer et les caractéristiques du logement justifiant le complément de loyer] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :justif_complement_loyer, label: false %>
          </div>
          <p class="mb-0 ">c) Le cas échéant, informations relatives au loyer du dernier locataire [montant du dernier loyer acquitté par le précédent locataire, date de versement et date de la dernière révision du loyer]* :</p>
          <p class="" style="font-size: 12px">*Mention obligatoire si le précédent locataire a quitté le logement moins de dix-huit mois avant la signature du bail.</p>
          <div class="col-12 col-lg-6">
            <%= f.input :loyer_dernier_locataire, label: false %>
          </div>
          <p class="">2° Le cas échéant, modalités de révision :</p>
          <p class="">a) Date de révision : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :date_revision_loyer, label: false %>
          </div>
          <p>b) Date ou trimestre de référence de l’IRL : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :reference_irl, label: false %>
          </div>
          <p class="">B. Charges récupérables</p>
          <p class="mb-1">1. Modalité de règlement des charges récupérables :
          </p>
          <div class="ml-3" style="">
            <%= f.input :modalite_paiement_charges, collection: ["Provisions sur charges avec régularisation annuelle", "Paiement périodique des charges sans provision", "Forfait de charges"], as: :radio_buttons, label: "" %>
          </div>
          <p class="">2. Le cas échéant, montant des provisions sur charges ou, en cas de colocation, du forfait de charge :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :provision_charges, label: false %>
          </div>
          <p class="mb-0 ">3. Le cas échéant, en cas de colocation et si les parties en conviennent, modalités de révision du forfait de charges* : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :modalite_revision_forfait, label: false %>
          </div>
          <p class="" style="font-size: 12px">*Si les parties conviennent d’un forfait de charges et de sa révision annuelle, ce forfait est révisé dans les mêmes conditions que le loyer principal.</p>
          <p class="mb-0 ">C. Le cas échéant, contribution pour le partage des économies de charges*:</p>
          <p class="" style="font-size: 12px">*Art. 23-1 de la loi n° 89-462 du 6 juillet 1989.</p>
          <p class="">1. Montant et durée de la participation du locataire restant à courir au jour de la signature du contrat :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :contribution_economie_charge, label: false %>
          </div>
          <p class="">2. Éléments propres à justifier les travaux réalisés donnant lieu à cette contribution :></p>
          <div class="col-12 col-lg-6">
            <%= f.input :justif_contribution_travaux, label: false %>
          </div>
          <p class="mb-1">D. Le cas échéant, en cas de colocation souscription par le bailleur d’une assurance pour le compte des colocataires* : </p>
          <div class="ml-3 mb-1" style="">
            <%= f.input :colocation_assurance, collection: [['Oui', true], ['Non', false]], as: :radio_buttons, label: "" %>
          </div>
          <p class="" style="font-size: 12px">*Au cours de l’exécution du contrat de location et dans les conditions prévues par la loi, les colocataires peuvent provoquer la résiliation de l’assurance souscrite par le bailleur pour leur compte.</p>
          <p class="mb-0 ">1. Montant total annuel récupérable au titre de l’assurance pour compte des colocataires* :</p>
          <p class="" style="font-size: 12px">*Correspond au montant de la prime d’assurance annuelle, éventuellement majoré dans la limite d’un montant fixé par décret en Conseil d’Etat.</p>
          <div class="col-12 col-lg-6">
            <%= f.input :montant_annuel_assurance, label: false %>
          </div>
          <p class="">2. Montant récupérable par douzième : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :montant_mensuel_assurance, label: false %>
          </div>
          <p class="">E. Modalités de paiement</p>
          <p class="">Périodicité du paiement* : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :perdiodicite_paiement, label: false %>
          </div>
          Paiement :
          <div class="ml-3" style="">
            <%= f.input :paiement_echoir_echu, collection: ["à échoir", "à terme échu"], as: :radio_buttons, label: "" %>
          </div>
          <p class="" style="font-size: 12px">*Paiement mensuel de droit à tout moment à la demande du locataire.</p>
          <p class="">Date ou période de paiement : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :date_periode_paiement, label: false %>
          </div>
          <p>Lieu de paiement : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :lieu_paiement, label: false %>
          </div>
          <p class="">Montant total dû à la première échéance de paiement pour une période complète de location :</p>
          <p class="">Loyer (hors charges) :     </p>
          <div class="col-12 col-lg-6">
            <%= f.input :loyer_hors_charges, label: false %>
          </div>
          <p>Charges récupérables : </p>
          <div class="col-12 col-lg-6">
            <%= f.input :charge_recuperable, label: false %>
          </div>
          <p class="">Contribution pour le partage des économies de charges :    </p>
          <div class="col-12 col-lg-6">
            <%= f.input :contribution_partage_economie_charges, label: false %>
          </div>
          <p class="">En cas de colocation, à l’assurance récupérable pour le compte des colocataires :   </p>
          <div class="col-12 col-lg-6">
            <%= f.input :colocation_assurance_recuperable, label: false %>
          </div>
          <p class="">F. Le cas échéant, exclusivement lors d’un renouvellement de contrat, modalités de réévaluation d’un loyer manifestement sous-évalué</p>
          <p class="">1. Montant de la hausse ou de la baisse de loyer mensuelle :     </p>
          <div class="col-12 col-lg-6">
            <%= f.input :hausse_baisse_loyer, label: false %>
          </div>
          <p class="">2. Modalité d’application annuelle de la hausse [par tiers ou par sixième selon la durée du contrat et le montant de la hausse de loyer] :       </p>
          <div class="col-12 col-lg-6">
            <%= f.input :modalite_hausse_annuelle, label: false %>
          </div>
          <h5 class="mt-5 my-4"><strong>V. Travaux</strong></h5>
          <p class="mb-0 ">A. Le cas échéant, montant et nature des travaux d’amélioration ou de mise en conformité avec les caractéristiques de décence effectués depuis la fin du dernier contrat de location ou depuis le dernier renouvellement* :</p>
          <p class="" style="font-size: 12px">*Le cas échéant, préciser par ailleurs le montant des travaux d’amélioration effectués au cours des six derniers mois.</p>
          <div class="col-12 col-lg-6">
            <%= f.input :travaux_amelioration, label: false %>
          </div>
          <p class="mb-0 ">B. Majoration du loyer en cours de bail consécutive à des travaux d’amélioration entrepris par le bailleur* [nature des travaux, modalités d’exécution, délai de réalisation ainsi que montant de la majoration du loyer] :</p>
          <p class="" style="font-size: 12px">*Clause invalide pour les travaux de mise en conformité aux caractéristiques de décence.</p>
          <div class="col-12 col-lg-6">
            <%= f.input :travaux_majoration_loyer, label: false %>
          </div>
          <p class="">C. Le cas échéant, diminution de loyer en cours de bail consécutive à des travaux entrepris par le locataire [durée de cette diminution et, en cas de départ anticipé du locataire, modalités de son dédommagement sur justification des dépenses effectuées] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :travaux_diminution_loyer, label: false %>
          </div>
          <h5 class="mt-5 my-4"><strong>VI. Garanties</strong></h5>
          <p class="">Le cas échéant, montant du dépôt de garantie de l’exécution des obligations du locataire / Garantie autonome [inférieur ou égal à un mois de loyers hors charges] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :depot_garantie, label: false %>
          </div>
          <!--  -->
          <!-- Chapter 7 -->
          <h5 class="mt-5 my-4"><strong>VII. Clause de solidarité</strong></h5>
          <p class="">Modalités particulières des obligations en cas de pluralité de locataires : en cas de colocation, c'est à dire de la location d’un même logement par plusieurs locataires, constituant leur résidence principale et formalisée par la conclusion d’un contrat unique ou de plusieurs contrats entre les locataires et le bailleur, les locataires sont tenus conjointement, solidairement et indivisiblement à l’égard du bailleur au paiement des loyers, charges et accessoires dus en application du présent bail. La solidarité d'un des colocataires et celle de la personne qui s'est portée caution pour lui prennent fin à la date d'effet du congé régulièrement délivré et lorsqu'un nouveau colocataire figure au bail. A défaut, la solidarité du colocataire sortant s'éteint au plus tard à l'expiration d'un délai de six mois après la date d'effet du congé.</p>
          <h5 class="mt-5 my-4"><strong>VIII. Clause résolutoire</strong></h5>
          <p class="">Modalités de résiliation de plein droit du contrat : Le bail sera résilié de plein droit en cas d'inexécution des obligations du locataire, soit en cas de défaut de paiement des loyers et des charges locatives au terme convenu, de non-versement du dépôt de garantie, de défaut d'assurance du locataire contre les risques locatifs, de troubles de voisinage constatés par une décision de justice passée en force de chose jugée rendue au profit d'un tiers. Le bailleur devra assigner le locataire devant le tribunal pour faire constater l'acquisition de la clause résolutoire et la résiliation de plein droit du bail. Lorsque le bailleur souhaite mettre en œuvre la clause résolutoire pour défaut de paiement des loyers et des charges ou pour non- versement du dépôt de garantie, il doit préalablement faire signifier au locataire, par acte d'huissier, un commandement de payer, qui doit mentionner certaines informations et notamment la faculté pour le locataire de saisir le fonds de solidarité pour le logement. De plus, pour les bailleurs personnes physiques ou les sociétés immobilières familiales, le commandement de payer doit être signalé par l'huissier à la commission de coordination des actions de prévention des expulsions locatives dès lors que l'un des seuils relatifs au montant et à l'ancienneté de la dette, fixé par arrêté préfectoral, est atteint. Le locataire peut, à compter de la réception du commandement, régler sa dette, saisir le juge d'instance pour demander des délais de paiement, voire demander ponctuellement une aide financière à un fonds de solidarité pour le logement. Si le locataire ne s'est pas acquitté des sommes dues dans les deux mois suivant la signification, le bailleur peut alors assigner le locataire en justice pour faire constater la résiliation de plein droit du bail. En cas de défaut d'assurance, le bailleur ne peut assigner en justice le locataire pour faire constater l'acquisition de la clause résolutoire qu'après un délai d'un mois après un commandement demeuré infructueux. Clause applicable selon les modalités décrites au paragraphe 4.3.2.1. de la notice d'information jointe au présent bail.</p>
          <p class="">Le cas échéant, préciser par ailleurs le montant des travaux d’amélioration effectués au cours des six derniers mois. Clause invalide pour les travaux de mise en conformité aux caractéristiques de décence ;</p>
          <h5 class="mt-5 mt-4 mb-0"><strong>IX. Le cas échéant, honoraires de location*</strong></h5>
          <p class="mb-4 " style="font-size: 12px">*A mentionner lorsque le contrat de location est conclu avec le concours d’une personne mandatée et rémunérée à cette fin.</p>
          <p class="">A. Dispositions applicables</p>
          <p class="">Il est rappelé les dispositions du I de l’article 5 (I) de la loi du 6 juillet 1989, alinéas 1 à 3 : « La rémunération des personnes mandatées pour se livrer ou prêter leur concours à l’entremise ou à la négociation d’une mise en location d’un logement, tel que défini aux articles 2 et 25-3, est à la charge exclusive du bailleur, à l’exception des honoraires liés aux prestations mentionnées aux deuxième et troisième alinéas du présent I.</p>
          <p class="">Les honoraires des personnes mandatées pour effectuer la visite du preneur, constituer son dossier et rédiger un bail sont partagés entre le bailleur et le preneur. Le montant toutes taxes comprises imputé au preneur pour ces prestations ne peut excéder celui imputé au bailleur et demeure inférieur ou égal à un plafond par mètre carré de surface habitable de la chose louée fixé par voie réglementaire et révisable chaque année, dans des conditions définies par décret. Ces honoraires sont dus à la signature du bail.</p>
          <p class="">Les honoraires des personnes mandatées pour réaliser un état des lieux sont partagés entre le bailleur et le preneur. Le montant toutes taxes comprises imputé au locataire pour cette prestation ne peut excéder celui imputé au bailleur et demeure inférieur ou égal à un plafond par mètre carré de surface habitable de la chose louée fixé par voie réglementaire et révisable chaque année, dans des conditions définies par décret. Ces honoraires sont dus à compter de la réalisation de la prestation. »</p>
          <p class="">Plafonds applicables :</p>
          <p class="mb-0 ">- montant du plafond des honoraires imputables aux locataires en matière de prestation de visite du preneur, de constitution de son dossier et de rédaction de bail : 8 €*/m2 de surface habitable ;</p>
          <p style="font-size: 12px">*Tarif en province hors zones tendues et très tendues</p>
          <p class="mb-0 ">- montant du plafond des honoraires imputables aux locataires en matière d’établissement de l’état des lieux d’entrée : 3 €*/m2 de surface habitable.</p>
          <p style="font-size: 12px">*Tarif en province hors zones tendues et très tendues</p>
          <p class="">B. Détail et répartition des honoraires</p>
          <p class="">1. Honoraires à la charge du bailleur :</p>
          <p class="">- prestations de visite du preneur, de constitution de son dossier et de rédaction de bail [détail des prestations effectivement réalisées et montant des honoraires toutes taxes comprises dus à la signature du bail] : <strong>315 €</strong></p>
          <p class="">- Prestation de réalisation de l’état des lieux d’entrée [montant des honoraires TTC] : <strong>60 €</strong></p>
          <p class="">- autres prestations [détail des prestations et conditions de rémunération] :</p>
          <div class="col-12 col-lg-6">
            <%= f.input :honoraires_autres, label: false %>
          </div>
          <p class="">2. Honoraires à la charge du locataire :</p>
          <p class="">Prestations de visite du preneur, de constitution de son dossier et de rédaction de bail [détail des prestations effectivement réalisées et montant des honoraires toutes taxes comprises dus à la signature du bail] : <strong>0 €</strong></p>
          <p class="">Prestation de réalisation de l’état des lieux d’entrée [montant des honoraires TTC] : <strong>0 €</strong></p>
          <h5 class="mt-5 my-4"><strong>X. Autres conditions particulières [A définir par les parties]</strong></h5>
          <div class="col-12 col-lg-6">
            <%= f.input :autre_condition, label: false %>
          </div>
          <h5 class="mt-5 my-4"><strong>XI. Annexes</strong></h5>
          <p class="">Sont annexées et jointes au contrat de location les pièces suivantes :</p>
          <p class="">A. Le cas échéant, un extrait du règlement concernant la destination de l’immeuble, la jouissance et l’usage des parties privatives et communes, et précisant la quote-part afférente au lot loué dans chacune des catégories de charges</p>
          <p class="">B. Un dossier de diagnostic technique comprenant :</p>
          <p class="">- un diagnostic de performance énergétique ;</p>
          <p class="">- un constat de risque d’exposition au plomb pour les immeubles construits avant le 1er janvier 1949 ;</p>
          <p class="mb-0 ">- une copie d’un état mentionnant l’absence ou la présence de matériaux ou de produits de la construction contenant de l’amiante* ;</p>
          <p class="" style="font-size: 12px">*A compter de l’entrée en vigueur du décret d’application listant notamment les matériaux ou produits concernés.</p>
          <p class="">- un état de l’installation intérieure d’électricité et de gaz, dont l’objet est d’évaluer les risques pouvant porter atteinte à la</p>
          <p class="mb-0">sécurité des personnes* ;</p>
          <p class="" style="font-size: 12px">*A compter de la date d’entrée en vigueur de cette disposition, prévue par décret.</p>
          <p class="mb-0 ">-le cas échéant, un état des risques naturels et technologiques pour le zones couvertes par un plan de prévention des risques technologiques ou par un plan de prévention des risques naturels prévisibles, prescrit ou approuvé, ou dans des zones de sismicité* .</p>
          <p class="" style="font-size: 12px">*La liste des communes comprises dans ces zones est définie localement par arrêté préfectoral.</p>
          <p class="mb-0 ">C. Une notice d’information relative aux droits et obligations des locataires et des bailleurs D. Un état des lieux*</p>
          <p class="" style="font-size: 12px">*L’état des lieux d’entrée est établi lors de la remise des clés, dont la date peut être ultérieure à celle de conclusion du contrat.</p>
          <p class="mb-0">E. Le cas échéant, une autorisation préalable de mise en location*</p>
          <p class="" style="font-size: 12px">*Dispositif applicable dans certains territoires présentant une proportion importante d’habitat dégradé délimité localement par l’établissement public de coopération intercommunale compétent en matière d’habitat ou, à défaut, le conseil municipal (art. 92 de la loi n° 2014-366 du 24 mars 2014 pour l’accès au logement et un urbanisme rénové).</p>
          <p class="mb-0 ">F. Le cas échéant, références aux loyers habituellement constatés dans le voisinage pour des logements comparables*</p>
          <p class="" style="font-size: 12px">*Lorsque la détermination du montant du loyer est la conséquence d’une procédure liée au fait que le loyer précédemment appliqué était manifestement sous évalué.</p>
          <p class="">Le </p>
          <div class="col-12 col-lg-6">
            <%= f.input :date_signature, label: false %>
          </div>
          <p>à</p>
          <div class="col-12 col-lg-6">
            <%= f.input :lieu_signature, label: false %>
          </div>
          <div class="row mt-5">
            <div class="border p-2 col-12 col-md-6 mt-3">
              <p>Le bailleur : « lu et approuvé »</p>
              <% if @contrat.signature_bailleur == true %>
                <p>Signature électronique du bailleur <i class="fas fa-check" style="color: green"></i></p>
              <% else %>
                <p>Signature électronique du bailleur <i class="fas fa-times" style="color: red"></i></p>
              <% end %>
            </div>
            <div class="border p-2 col-12 col-md-6 mt-3">
              <p>Le locataire principal : « lu et approuvé »</p>
              <% if @contrat.signature_locataire == true %>
                <p>Signature électronique de l'agent <i class="fas fa-check" style="color: green"></i></p>
              <% else %>
                <p>Signature électronique du locataire principal <i class="fas fa-times" style="color: red"></i></p>
              <% end %>
            </div>
          </div>
          <div class="mt-4">
            <% if @contrat.user == current_user %>
              <%= f.input :signature_bailleur, label: "Le bailleur : « lu et approuvé »" %>
            <% end %>
            <% if Locataire.find(@contrat.locataire_candidature.locataire_id).email == current_user.email %>
              <%= f.input :signature_locataire, label: "Le locataire principal : « lu et approuvé »" %>
            <% elsif @contrat.locataire_candidature.user == current_user && @contrat.locataire_candidature.agent == "Non" %>
              <%= f.input :signature_locataire, label: "Le locataire principal : « lu et approuvé »" %>
            <% end %>
          </div>
          <div class="mt-4">
            <%= f.submit "Valider", class: "btn btn-yellow-mustard mb-5" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-5" %>
          </div>
          <p class="mt-5">www.realbeez.com - contrat de location conforme à la loi Alur – janvier 2020</p>
        <% end %>
      </div>
    </div>
    <div class="hide-on-small mb-5 pb-5">
    </div>
  </div>
<% elsif @contrat.locataire_candidature.locataire_email.split.last == current_user.email %>
  <%= render "contrats/show_for_edit" %>
  <div class="container mt-4 mb-5">
    <div class="row text-justify" >
      <div class="col-sm-12 col-lg-10 offset-lg-1 px-5">
        <%= simple_form_for [@locataire_candidature, @contrat] do |f| %>
          <div class="mt-4">
            <%= f.input :signature_locataire, label: "Le locataire principal : « lu et approuvé »" %>
          </div>
          <div class="mt-4">
            <%= f.submit "Valider", class: "btn btn-yellow-mustard mb-5" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% elsif Locataire.find(@contrat.locataire_candidature.locataire_id).email == current_user.email  %>
  <%= render "contrats/show_for_edit" %>
  <div class="container mt-4 mb-5">
    <div class="row text-justify" >
      <div class="col-sm-12 col-lg-10 offset-lg-1 px-5">
        <%= simple_form_for [@locataire_candidature, @contrat] do |f| %>
          <div class="mt-4">
            <%= f.input :signature_locataire, label: "Le locataire principal : « lu et approuvé »" %>
          </div>
          <div class="mt-4">
            <%= f.submit "Valider", class: "btn btn-yellow-mustard mb-5" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% elsif @contrat.locataire_candidature.user == current_user && @contrat.locataire_candidature.agent == "Non" %>
  <%= render "contrats/show_for_edit" %>
  <div class="container mt-4 mb-5">
    <div class="row text-justify" >
      <div class="col-sm-12 col-lg-10 offset-lg-1 px-5">
        <%= simple_form_for [@locataire_candidature, @contrat] do |f| %>
          <div class="mt-4">
            <%= f.input :signature_locataire, label: "Le locataire principal : « lu et approuvé »" %>
          </div>
          <div class="mt-4">
            <%= f.submit "Valider", class: "btn btn-yellow-mustard mb-5" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>