<div class="container">
  <div class="row py-5">
    <div class="col-md-3 mb-3"><%= image_tag @order.annonce.photo_url, width: '100%' %></div>
    <div class="col">
      <h3>Récapitulatif</h3>
      <p>Paiement pour les services de <strong><%= Agent.find(@order.annonce.agent.to_i).user.prénom %> <%= Agent.find(@order.annonce.agent.to_i).user.nom %></strong></p>
      <p>Pour la relocation du <strong><%= @order.annonce.titre_annonce %></strong> (<%= @order.annonce.adresse %>)</p>
      <p>Montant à payer : <strong><%= humanized_money_with_symbol @order.amount %></strong>
      </%></p>
    <button id="pay" class="btn btn-primary mb-2">Payer</button>
    <!--  <p><em>Aucun frais ne sera débité avant que vous confirmiez que le bien soit effectivement loué</em></p> -->
    <!-- # Commented for the lecture, remove comments. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>
  </div>
</div>
</div>