<h3 class="text-center mt-5 mb-4">Publier une annonce</h3>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@annonce] do |f| %>
          <%= f.input :titre_annonce, label: "Titre de l'annonce" %>
          <%= f.input :type_de_bien, collection:
            [
              "Appartement",
              "Maison",
              "Terrain",
              "Parking",
              "Autre",
            ] %>
          <%= f.input :meublé, label: "Meublé / Non meublé",collection: ["Meublé", "Non meublé"]  %>
          <%= f.input :surface, input_html: { min: '0', step: 'any' } %>
          <%= f.input :pièces, input_html: { min: '0', step: 'any' }  %>
          <%= f.input :classe_énergie, collection:
            [
              "A (moins de 50)",
              "B (de 51 à 90)]",
              "C (de 91 à 150)]",
              "D (de 151 à 230)]",
              "E (de 231 à 330)]",
              "F (de 331 à 450)]",
              "G (de 451 à 590)]",
              "H (de 591 à 750)]",
              "I (de 751 et plus)]",
              "Vierge"
            ]  %>
          <%= f.input :ges, collection:
            [
              "A (moins de 5)",
              "B (de 5 à 10)]",
              "C (de 11 à 20)]",
              "D (de 21 à 35)]",
              "E (de 36 à 55)]",
              "F (de 56 à 80)]",
              "G (de 81 à 110)]",
              "H (de 111 à 145)]",
              "I (de 146 et plus)]",
              "Vierge"
            ],label: "GES"  %>
          <%= f.input :description %>
          <%= f.input :loyer_mensuel, label: "Loyer mensuel (charges comprises) en €", input_html: { min: '0', step: 'any' } %>
          <%= f.input :charges, input_html: { min: '0', step: 'any' }  %>
          <%= f.input :ville %>
          <%= f.input :adresse %>
          <%= f.input :email, input_html: {value: current_user.email}  %>
          <%= f.input :téléphone, input_html: {value: current_user.téléphone}  %>
          <div class="mb-4">
            <p class="mt-4" style="color: #D8A727">Téléchargez vos photos <span style="color: red; font-size: 12px; font-style: italic">(Formats acceptés : jpg ou png)</span></p>
            <%= f.input :photo, label: false %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :photo1, label: false %>
            <%= f.input :photo1_cache, as: :hidden %>
            <%= f.input :photo2, label: false %>
            <%= f.input :photo2_cache, as: :hidden %>
          </div>
          <!-- multiple upload photo -->
          <%#= f.input :pictures, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Publier", class: "btn btn-yellow-mustard mb-5" %>
          <%= link_to "Annuler", root_path, class:"btn btn-danger mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>