<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Realbeez | Agence immobilière en ligne | Forfait fixe à 375 €</title>
    <meta name="description" content="Trouvez rapidement un locataire pour votre bien immobilier partout en France. Notre offre est payable au succès et les frais sont réduits pour les locataires. Mandat non-exclusif.">
    <!-- for Facebook -->
    <meta property="og:title" content="Realbeez | Agence immobilière en ligne | Forfait fixe à 375 €">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Trouvez rapidement un locataire pour votre bien immobilier partout en France. Notre offre est payable au succès et les frais sont réduits pour les locataires. Mandat non-exclusif.">
    <meta property="og:image" content="https://res.cloudinary.com/dvfwroq5k/image/upload/v1580721200/FB_cover_trouver_un_locataire_je8kti.jpg">
    <meta property="og:url" content="https://www.realbeez.com">
    <meta property="fb:app_id" content="2198836300415739">
    <meta property="og:site_name" content="Reabeez.com">
    <!-- For Twitter -->
    <meta name="twitter:title" content="Realbeez | Agence immobilière en ligne | Forfait fixe à 375 €">
    <meta name="twitter:description" content="Trouvez rapidement un locataire pour votre bien immobilier partout en France. Notre offre est payable au succès et les frais sont réduits pour les locataires. Mandat non-exclusif.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dvfwroq5k/image/upload/v1580721200/FB_cover_trouver_un_locataire_je8kti.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Reabeez image">
    <!-- <meta name="twitter:site" content="@website-username"> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <%= render 'cookies_eu/consent_banner' %>
  <body>
    <div style="min-height: 80vh">
      <% if params[:action] == "home" %>
        <%= render 'shared/navbar_home' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <!-- FOOTER -->
    <footer>
      <div class="pt-3 pt-5"  style="background-color: #F4F4F4; left: 0; bottom: 0; width: 100%; padding-bottom: 100px ">
        <div class="container">
          <div class="row">
            <div class="col-6 mb-3">
              <%= link_to root_path, class: "navbar-brand pb-0" do %>
                <!-- <div class="d-flex align-items-center">
                  <%#= image_tag "logo_text.png", class: "", style: "width: 90px" %>
                </div> -->
                <div class="d-flex align-items-center">
                  <p class="ml-0 mb-0 p-0" style="font-family: Simply Rounded"><span style="color:#3a3a3c; font-size: 20px">Real</span></p>
                  <p class="mb-0 p-0" style="color:#D8A727; font-size: 20px; font-family: Simply Rounded">beez</p>
                </div>
              <% end %>
              <div class="mt-2 mb-1">
                <a href="https://www.instagram.com/realbeez_official" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
              </div>
              <div class="mb-1">
                <a href="https://www.facebook.com/realbeez.official" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
              </div>
              <div class="mb-1">
                <a href="https://www.linkedin.com/company/realbeez" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
              </div>
              <div class="mb-1">
                <%= link_to "Contactez-nous", new_page_path(message: {to: User.where("email = ?", "contact@realbeez.com")[0] }), style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <!--      <div class="mb-1">
                <a href="https://wa.me/33642808389" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-whatsapp"></i> Whatsapp</a>
              </div>
              <div class="mb-1">
                <a href="https://lin.ee/lAqnmGl" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-line"></i> Line</a>
              </div> -->
            </div>
            <div class="col-6">
              <!-- <div> -->
              <!-- TODO: -->
              <!-- <a href="" style="color:#F4F4F4; font-size: 20px">p</a>
              </div> -->
              <!-- Offre de parrainage -->
              <% if user_signed_in? %>
                <div class="mb-1">
                  <%= link_to "Parrainage", new_parrain_path, style:"color: black; opacity: 0.6; font-size: 14px", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold" %>
                </div>
              <% else %>
                <div class="mb-1">
                  <%= link_to "Parrainage", recommandation_path, style:"color: black; opacity: 0.6; font-size: 14px", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold" %>
                </div>
              <% end %>
              <!-- Form laptop version -->
              <!--  <div class="hide-on-small">
                <li class="nav-item d-flex align-items-center my-2">
                  <%#= link_to "Devenir agent Realbeez", new_agent_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold" %>
                </li>
              </div> -->
              <!-- For Mobile version -->
              <!-- <div class="hide-on-large ">
                <li class="nav-item d-flex align-items-center my-2">
                  <%#= link_to "Devenir agent", new_agent_path, class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold" %>
                </li>
              </div> -->
              <div class="mt-2 mb-1">
                <%= link_to "Louer mon bien", new_contact_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div class="mb-1">
                <%= link_to "Devenir agent Realbeez", new_agent_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div class="mb-1">
                <%= link_to "Nos fiches pratiques", fiches_pratiques_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div class="mb-1">
                <%= link_to "Nous découvrir", nous_decouvrir_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <!-- <div> -->
              <!-- TODO: -->
              <%#= link_to "Nos fiches pratiques", fiches_pratiques_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              <!-- </div>  -->
              <div class="mb-1">
                <!-- TODO: -->
                <%= link_to "Mentions légales", mentions_legales_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>