<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Realbeez</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div style="min-height: 80vh">
      <% if params[:action] == "home" %>
        <%= render 'shared/navbar_home' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <!-- FOOTER -->
    <footer>
      <div class="pt-3"  style="background-color: #F4F4F4; height: 25vh; position:; left: 0; bottom: 0; width: 100%; ">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <%= link_to root_path, class: "navbar-brand" do %>
                <div class="d-flex align-items-center">
                  <%= image_tag "logo_text.png", class: "", style: "width: 90px" %>
                </div>
              <% end %>
              <div>
                <a href="" style="color: black; opacity: 0.6; font-size: 14px"><i class="fab fa-instagram"></i> Instagram</a>
              </div>
              <div>
                <a href="" style="color: black; opacity: 0.6; font-size: 14px"><i class="fab fa-facebook"></i> Facebook</a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div>
                <!-- TODO: -->
                <a href="" style="color:#F4F4F4">p</a>
              </div>
              <div>
                <!-- TODO: -->
                <a href="" style="color: black; opacity: 0.6; font-size: 14px">Terms & Conditions</a>
              </div>
              <div>
                <!-- TODO: -->
                <a href=""style="color: black; opacity: 0.6; font-size: 14px">Leave Us Feedbacks</a>
              </div>
              <div>
                <!-- TODO: -->
                <a href="" style="color: black; opacity: 0.6; font-size: 14px">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>