<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Realbeez | L'immobilier proche de vous !</title>
    <meta name="description" content="Trouvez un de nos agents immobiliers près de chez vous et louez rapidement votre bien à moindre coût (forfait de 375 € HT).">
    <!-- for Facebook -->
    <meta property="og:title" content="Realbeez | L'immobilier proche de vous !">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Trouvez un de nos agents immobiliers près de chez vous et louez rapidement votre bien à moindre coût (forfait de 375 € HT).">
    <meta property="og:image" content="https://res.cloudinary.com/dvfwroq5k/image/upload/v1573731465/FB_meta_tag_h5mkkx.jpg">
    <meta property="og:url" content="https://www.realbeez.com">
    <meta property="fb:app_id" content="2198836300415739">
    <meta property="og:site_name" content="Reabeez.com">
    <!-- For Twitter -->
    <meta name="twitter:title" content="Realbeez | L'immobilier proche de vous !">
    <meta name="twitter:description" content="Trouvez un de nos agents immobiliers près de chez vous et louez rapidement votre bien à moindre coût (forfait de 375 € HT).">
    <meta name="twitter:image" content="https://res.cloudinary.com/dvfwroq5k/image/upload/v1573731465/FB_meta_tag_h5mkkx.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Reabeez image">
    <!-- <meta name="twitter:site" content="@website-username"> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag %>
  </head>
  <body>
    <div style="min-height: 80vh">
      <% if params[:action] == "home" %>
        <%= render 'shared/navbar_home' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <!-- FOOTER -->
    <footer>
      <div class="pt-3"  style="background-color: #F4F4F4; height: 30vh; position:; left: 0; bottom: 0; width: 100%; ">
        <div class="container">
          <div class="row">
            <div class="col-6 mb-3">
              <%= link_to root_path, class: "navbar-brand" do %>
                <div class="d-flex align-items-center">
                  <%= image_tag "logo_text.png", class: "", style: "width: 90px" %>
                </div>
              <% end %>
              <div>
                <a href="https://www.instagram.com/realbeez_official" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
              </div>
              <div>
                <a href="https://www.facebook.com/realbeez.official" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
              </div>
              <div>
                <a href="https://www.linkedin.com/company/realbeez" style="color: black; opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
              </div>
            </div>
            <div class="col-6">
              <div>
                <!-- TODO: -->
                <a href="" style="color:#F4F4F4">p</a>
              </div>
              <div>
                <%= link_to "Nous découvrir", nous_decouvrir_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div>
                <!-- TODO: -->
                <%= link_to "Nos fiches pratiques", fiches_pratiques_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div>
                <!-- TODO: -->
                <%= link_to "Mentions légales", mentions_legales_path, style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
              <div>
                <!-- TODO: -->
                <!-- <a href="" style="color: black; opacity: 0.6; font-size: 14px">Contact Us</a> -->
                <%= link_to "Contactez-nous", new_page_path(message: {to: User.where("email = ?", "contact@realbeez.com")[0] }), style:"color: black; opacity: 0.6; font-size: 14px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>